In [ ]:
!pip install Pyspark

Collecting Pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from Pyspark) (0.10.9.7)
Building wheels for collected packages: Pyspark
  Building wheel for Pyspark (setup.py) ... done
  Created wheel for Pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e071b7672b4ac554d2df59fce443f22257b03b592062507911a524ce08e1d523
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built Pyspark
Installing collected packages: Pyspark
Successfully installed Pyspark-3.5.0

In [ ]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [ ]:
spark=SparkSession.builder.appName("test").getOrCreate()

In [ ]:

data= [("James","Sales","NY",9000,34),
       ("Alicia","Sales","NY",8600,56),
       ("Robert","Sales","CA",8100,30),
       ("John","Sales","AZ",8600,31),
       ("Ross","Sales","AZ",8100,33),
       ("Kathy","Sales","az",1000,39),
       ("Lisa","Finance","CA",9000,24),
       ("Deja","Finance","CA",9900,40),
       ("Sugie","Finance","NY",8300,36),
       ("Ram","Finance","NY",7900,53),
       ("Sathya","Finance","AZ",8200,53),
       ("Kyle","Marketing","CA",8000,25),
       ("Reid","Marketing","NY",9100,50)]

In [ ]:
schema= 'empname string,dept string,state string,salary int,age int'

In [ ]:

df=spark.createDataFrame(data=data,schema = schema)
df.show()

+-------+---------+-----+------+---+
|empname|     dept|state|salary|age|
+-------+---------+-----+------+---+
|  James|    Sales|   NY|  9000| 34|
| Alicia|    Sales|   NY|  8600| 56|
| Robert|    Sales|   CA|  8100| 30|
|   John|    Sales|   AZ|  8600| 31|
|   Ross|    Sales|   AZ|  8100| 33|
|  Kathy|    Sales|   az|  1000| 39|
|   Lisa|  Finance|   CA|  9000| 24|
|   Deja|  Finance|   CA|  9900| 40|
|  Sugie|  Finance|   NY|  8300| 36|
|    Ram|  Finance|   NY|  7900| 53|
| Sathya|  Finance|   AZ|  8200| 53|
|   Kyle|Marketing|   CA|  8000| 25|
|   Reid|Marketing|   NY|  9100| 50|
+-------+---------+-----+------+---+

In [1]:
#Monotonically_increasing_id()
#useCase : Create a Primary Key/unique Column

In [ ]:
df.withColumn("id",monotonically_increasing_id()).show()

+-------+---------+-----+------+---+----------+
|empname|     dept|state|salary|age|        id|
+-------+---------+-----+------+---+----------+
|  James|    Sales|   NY|  9000| 34|         0|
| Alicia|    Sales|   NY|  8600| 56|         1|
| Robert|    Sales|   CA|  8100| 30|         2|
|   John|    Sales|   AZ|  8600| 31|         3|
|   Ross|    Sales|   AZ|  8100| 33|         4|
|  Kathy|    Sales|   az|  1000| 39|         5|
|   Lisa|  Finance|   CA|  9000| 24|8589934592|
|   Deja|  Finance|   CA|  9900| 40|8589934593|
|  Sugie|  Finance|   NY|  8300| 36|8589934594|
|    Ram|  Finance|   NY|  7900| 53|8589934595|
| Sathya|  Finance|   AZ|  8200| 53|8589934596|
|   Kyle|Marketing|   CA|  8000| 25|8589934597|
|   Reid|Marketing|   NY|  9100| 50|8589934598|
+-------+---------+-----+------+---+----------+

In [ ]:
#lit()
# create a new column with a static value.

In [ ]:
df.withColumn('country',lit('USA')).show()

+-------+---------+-----+------+---+-------+
|empname|     dept|state|salary|age|country|
+-------+---------+-----+------+---+-------+
|  James|    Sales|   NY|  9000| 34|    USA|
| Alicia|    Sales|   NY|  8600| 56|    USA|
| Robert|    Sales|   CA|  8100| 30|    USA|
|   John|    Sales|   AZ|  8600| 31|    USA|
|   Ross|    Sales|   AZ|  8100| 33|    USA|
|  Kathy|    Sales|   az|  1000| 39|    USA|
|   Lisa|  Finance|   CA|  9000| 24|    USA|
|   Deja|  Finance|   CA|  9900| 40|    USA|
|  Sugie|  Finance|   NY|  8300| 36|    USA|
|    Ram|  Finance|   NY|  7900| 53|    USA|
| Sathya|  Finance|   AZ|  8200| 53|    USA|
|   Kyle|Marketing|   CA|  8000| 25|    USA|
|   Reid|Marketing|   NY|  9100| 50|    USA|
+-------+---------+-----+------+---+-------+

In [ ]:
#concat_ws
df.withColumn("newkey",concat_ws("_", "empname", "age")).show()

+-------+---------+-----+------+---+---------+
|empname|     dept|state|salary|age|   newkey|
+-------+---------+-----+------+---+---------+
|  James|    Sales|   NY|  9000| 34| James_34|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|
| Robert|    Sales|   CA|  8100| 30|Robert_30|
|   John|    Sales|   AZ|  8600| 31|  John_31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|
+-------+---------+-----+------+---+---------+

In [ ]:
#concat
df.withColumn("newkey",concat( "_", "empname", "age")).show()

AnalysisException: ignored

In [ ]:
#concat
df.withColumn("newkey",concat("empname",lit("_"), "age")).show()

+-------+---------+-----+------+---+---------+
|empname|     dept|state|salary|age|   newkey|
+-------+---------+-----+------+---+---------+
|  James|    Sales|   NY|  9000| 34| James_34|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|
| Robert|    Sales|   CA|  8100| 30|Robert_30|
|   John|    Sales|   AZ|  8600| 31|  John_31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|
+-------+---------+-----+------+---+---------+

In [ ]:
#concat
df.withColumn("newkey",concat( "empname","age")).show()

+-------+---------+-----+------+---+--------+
|empname|     dept|state|salary|age|  newkey|
+-------+---------+-----+------+---+--------+
|  James|    Sales|   NY|  9000| 34| James34|
| Alicia|    Sales|   NY|  8600| 56|Alicia56|
| Robert|    Sales|   CA|  8100| 30|Robert30|
|   John|    Sales|   AZ|  8600| 31|  John31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross33|
|  Kathy|    Sales|   az|  1000| 39| Kathy39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa24|
|   Deja|  Finance|   CA|  9900| 40|  Deja40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie36|
|    Ram|  Finance|   NY|  7900| 53|   Ram53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle25|
|   Reid|Marketing|   NY|  9100| 50|  Reid50|
+-------+---------+-----+------+---+--------+

In [ ]:
#expr()
#can use sql functions

In [ ]:
df.withColumn("newkey",expr("empname || '_' || age")).show()

+-------+---------+-----+------+---+---------+
|empname|     dept|state|salary|age|   newkey|
+-------+---------+-----+------+---+---------+
|  James|    Sales|   NY|  9000| 34| James_34|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|
| Robert|    Sales|   CA|  8100| 30|Robert_30|
|   John|    Sales|   AZ|  8600| 31|  John_31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|
+-------+---------+-----+------+---+---------+

In [ ]:
df.withColumn("empname_len",expr("length(empname)")).show()

+-------+---------+-----+------+---+-----------+
|empname|     dept|state|salary|age|empname_len|
+-------+---------+-----+------+---+-----------+
|  James|    Sales|   NY|  9000| 34|          5|
| Alicia|    Sales|   NY|  8600| 56|          6|
| Robert|    Sales|   CA|  8100| 30|          6|
|   John|    Sales|   AZ|  8600| 31|          4|
|   Ross|    Sales|   AZ|  8100| 33|          4|
|  Kathy|    Sales|   az|  1000| 39|          5|
|   Lisa|  Finance|   CA|  9000| 24|          4|
|   Deja|  Finance|   CA|  9900| 40|          4|
|  Sugie|  Finance|   NY|  8300| 36|          5|
|    Ram|  Finance|   NY|  7900| 53|          3|
| Sathya|  Finance|   AZ|  8200| 53|          6|
|   Kyle|Marketing|   CA|  8000| 25|          4|
|   Reid|Marketing|   NY|  9100| 50|          4|
+-------+---------+-----+------+---+-----------+

In [ ]:
df.withColumn("age_descp",expr(" case when age > 50 then 'Senior' else 'Adult' end ")).show()

+-------+---------+-----+------+---+---------+
|empname|     dept|state|salary|age|age_descp|
+-------+---------+-----+------+---+---------+
|  James|    Sales|   NY|  9000| 34|    Adult|
| Alicia|    Sales|   NY|  8600| 56|   Senior|
| Robert|    Sales|   CA|  8100| 30|    Adult|
|   John|    Sales|   AZ|  8600| 31|    Adult|
|   Ross|    Sales|   AZ|  8100| 33|    Adult|
|  Kathy|    Sales|   az|  1000| 39|    Adult|
|   Lisa|  Finance|   CA|  9000| 24|    Adult|
|   Deja|  Finance|   CA|  9900| 40|    Adult|
|  Sugie|  Finance|   NY|  8300| 36|    Adult|
|    Ram|  Finance|   NY|  7900| 53|   Senior|
| Sathya|  Finance|   AZ|  8200| 53|   Senior|
|   Kyle|Marketing|   CA|  8000| 25|    Adult|
|   Reid|Marketing|   NY|  9100| 50|    Adult|
+-------+---------+-----+------+---+---------+

In [ ]:
df.select("*",(df.age+10).alias("age_10")).show()

+-------+---------+-----+------+---+------+
|empname|     dept|state|salary|age|age_10|
+-------+---------+-----+------+---+------+
|  James|    Sales|   NY|  9000| 34|    44|
| Alicia|    Sales|   NY|  8600| 56|    66|
| Robert|    Sales|   CA|  8100| 30|    40|
|   John|    Sales|   AZ|  8600| 31|    41|
|   Ross|    Sales|   AZ|  8100| 33|    43|
|  Kathy|    Sales|   az|  1000| 39|    49|
|   Lisa|  Finance|   CA|  9000| 24|    34|
|   Deja|  Finance|   CA|  9900| 40|    50|
|  Sugie|  Finance|   NY|  8300| 36|    46|
|    Ram|  Finance|   NY|  7900| 53|    63|
| Sathya|  Finance|   AZ|  8200| 53|    63|
|   Kyle|Marketing|   CA|  8000| 25|    35|
|   Reid|Marketing|   NY|  9100| 50|    60|
+-------+---------+-----+------+---+------+