In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=bb32b89ac4fd0fd590e6f2a68daeb8a13b24a4b62ffd2a62fac07ae95bdd6422
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark  = SparkSession.builder.appName("test").getOrCreate()

In [4]:
data= [("James","Sales","NY",9000,34),
       ("Alicia","Sales","NY",8600,56),
       ("Robert","Sales","CA",8100,30),
       ("John","Sales","AZ",8600,31),
       ("Ross","Sales","AZ",8100,33),
       ("Kathy","Sales","az",1000,39),
       ("Lisa","Finance","CA",9000,24),
       ("Deja","Finance","CA",9900,40),
       ("Sugie","Finance","NY",8300,36),
       ("Ram","Finance","NY",7900,53),
       ("Sathya","Finance","AZ",8200,53),
       ("Kyle","Marketing","CA",8000,25),
       ("Reid","Marketing","NY",9100,50)]

In [5]:
schema= 'empname string,dept string,state string,salary int,age int'

In [6]:
df=spark.createDataFrame(data=data,schema = schema)
df.show()

+-------+---------+-----+------+---+
|empname|     dept|state|salary|age|
+-------+---------+-----+------+---+
|  James|    Sales|   NY|  9000| 34|
| Alicia|    Sales|   NY|  8600| 56|
| Robert|    Sales|   CA|  8100| 30|
|   John|    Sales|   AZ|  8600| 31|
|   Ross|    Sales|   AZ|  8100| 33|
|  Kathy|    Sales|   az|  1000| 39|
|   Lisa|  Finance|   CA|  9000| 24|
|   Deja|  Finance|   CA|  9900| 40|
|  Sugie|  Finance|   NY|  8300| 36|
|    Ram|  Finance|   NY|  7900| 53|
| Sathya|  Finance|   AZ|  8200| 53|
|   Kyle|Marketing|   CA|  8000| 25|
|   Reid|Marketing|   NY|  9100| 50|
+-------+---------+-----+------+---+

In [7]:
df=df.withColumn("newkey",concat_ws("_", "empname", "age"))

In [8]:
df.show()

+-------+---------+-----+------+---+---------+
|empname|     dept|state|salary|age|   newkey|
+-------+---------+-----+------+---+---------+
|  James|    Sales|   NY|  9000| 34| James_34|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|
| Robert|    Sales|   CA|  8100| 30|Robert_30|
|   John|    Sales|   AZ|  8600| 31|  John_31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|
+-------+---------+-----+------+---+---------+

In [29]:
help(split)

Help on function split in module pyspark.sql.functions:

split(str: 'ColumnOrName', pattern: str, limit: int = -1) -> pyspark.sql.column.Column
    Splits str around matches of the given pattern.

    .. versionadded:: 1.5.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        a string expression to split
    pattern : str
        a string representing a regular expression. The regex string should be
        a Java regular expression.
    limit : int, optional
        an integer which controls the number of times `pattern` is applied.

        * ``limit > 0``: The resulting array's length will not be more than `limit`, and the
                         resulting array's last entry will contain all input beyond the last
                         matched pattern.
        * ``limit <= 0``: `pattern` will be applied as many times as possible, and the resulting
                          array can be of any size.

        .. versionchanged:: 3.0
           `split` now takes an optional `limit` field. If not provided, default limit value is -1.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        array of separated strings.

    Examples
    --------
    >>> df = spark.createDataFrame([('oneAtwoBthreeC',)], ['s',])
    >>> df.select(split(df.s, '[ABC]', 2).alias('s')).collect()
    [Row(s=['one', 'twoBthreeC'])]
    >>> df.select(split(df.s, '[ABC]', -1).alias('s')).collect()
    [Row(s=['one', 'two', 'three', ''])]

In [11]:
df.select(split(df.newkey,"_").alias("key_split")).show()

+------------+
|   key_split|
+------------+
| [James, 34]|
|[Alicia, 56]|
|[Robert, 30]|
|  [John, 31]|
|  [Ross, 33]|
| [Kathy, 39]|
|  [Lisa, 24]|
|  [Deja, 40]|
| [Sugie, 36]|
|   [Ram, 53]|
|[Sathya, 53]|
|  [Kyle, 25]|
|  [Reid, 50]|
+------------+

In [12]:
df.select(split(df.newkey,"_")[0].alias("name")).show()

+------+
|  name|
+------+
| James|
|Alicia|
|Robert|
|  John|
|  Ross|
| Kathy|
|  Lisa|
|  Deja|
| Sugie|
|   Ram|
|Sathya|
|  Kyle|
|  Reid|
+------+

In [13]:
df.select(split(df.newkey,"_")[1].alias("Age")).show()

+---+
|Age|
+---+
| 34|
| 56|
| 30|
| 31|
| 33|
| 39|
| 24|
| 40|
| 36|
| 53|
| 53|
| 25|
| 50|
+---+

In [16]:
sp = spark.createDataFrame([('ab12cd23fe27kl',)],['s',])
sp.show()

+--------------+
|             s|
+--------------+
|ab12cd23fe27kl|
+--------------+

In [27]:
from os import truncate
sp.select(split(sp.s,'[0-9]+')).show(truncate = True)

+--------------------+
|split(s, [0-9]+, -1)|
+--------------------+
|    [ab, cd, fe, kl]|
+--------------------+

In [30]:
#trim()
#ltrim()
#rtrim()

In [32]:
#lower()
#upper()
#inticap()

In [37]:
#lpad()
df.withColumn('pading',lpad(df.age,10,"*")).show()

+-------+---------+-----+------+---+---------+----------+
|empname|     dept|state|salary|age|   newkey|    pading|
+-------+---------+-----+------+---+---------+----------+
|  James|    Sales|   NY|  9000| 34| James_34|********34|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|********56|
| Robert|    Sales|   CA|  8100| 30|Robert_30|********30|
|   John|    Sales|   AZ|  8600| 31|  John_31|********31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|********33|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|********39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|********24|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|********40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|********36|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|********53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|********53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|********25|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|********50|
+-------+---------+-----+------+---+---------+----------+

In [38]:
#rpad()
df.withColumn('pading',rpad(df.age,10,"*")).show()

+-------+---------+-----+------+---+---------+----------+
|empname|     dept|state|salary|age|   newkey|    pading|
+-------+---------+-----+------+---+---------+----------+
|  James|    Sales|   NY|  9000| 34| James_34|34********|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|56********|
| Robert|    Sales|   CA|  8100| 30|Robert_30|30********|
|   John|    Sales|   AZ|  8600| 31|  John_31|31********|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|33********|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|39********|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|24********|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|40********|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|36********|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|53********|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|53********|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|25********|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|50********|
+-------+---------+-----+------+---+---------+----------+

In [39]:
#reverse()
df.withColumn('name_rev',reverse(df.empname)).show()

+-------+---------+-----+------+---+---------+--------+
|empname|     dept|state|salary|age|   newkey|name_rev|
+-------+---------+-----+------+---+---------+--------+
|  James|    Sales|   NY|  9000| 34| James_34|   semaJ|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|  aicilA|
| Robert|    Sales|   CA|  8100| 30|Robert_30|  treboR|
|   John|    Sales|   AZ|  8600| 31|  John_31|    nhoJ|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|    ssoR|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|   yhtaK|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|    asiL|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|    ajeD|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|   eiguS|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|     maR|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|  ayhtaS|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|    elyK|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|    dieR|
+-------+---------+-----+------+---+---------+--------+

In [47]:
#substring
df.select(substring(df.empname,1,4)).show()

+------------------------+
|substring(empname, 1, 4)|
+------------------------+
|                    Jame|
|                    Alic|
|                    Robe|
|                    John|
|                    Ross|
|                    Kath|
|                    Lisa|
|                    Deja|
|                    Sugi|
|                     Ram|
|                    Sath|
|                    Kyle|
|                    Reid|
+------------------------+

In [49]:
#substring_index()
df.withColumn('dummy',substring_index(df.newkey,'_',1)).show()

+-------+---------+-----+------+---+---------+------+
|empname|     dept|state|salary|age|   newkey| dummy|
+-------+---------+-----+------+---+---------+------+
|  James|    Sales|   NY|  9000| 34| James_34| James|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|Alicia|
| Robert|    Sales|   CA|  8100| 30|Robert_30|Robert|
|   John|    Sales|   AZ|  8600| 31|  John_31|  John|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|  Ross|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39| Kathy|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|  Lisa|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|  Deja|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36| Sugie|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|   Ram|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|Sathya|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|  Kyle|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|  Reid|
+-------+---------+-----+------+---+---------+------+

In [53]:
#substring_index()
df.withColumn('dummy',substring_index(df.newkey,'_',-1)).show()

+-------+---------+-----+------+---+---------+-----+
|empname|     dept|state|salary|age|   newkey|dummy|
+-------+---------+-----+------+---+---------+-----+
|  James|    Sales|   NY|  9000| 34| James_34|   34|
| Alicia|    Sales|   NY|  8600| 56|Alicia_56|   56|
| Robert|    Sales|   CA|  8100| 30|Robert_30|   30|
|   John|    Sales|   AZ|  8600| 31|  John_31|   31|
|   Ross|    Sales|   AZ|  8100| 33|  Ross_33|   33|
|  Kathy|    Sales|   az|  1000| 39| Kathy_39|   39|
|   Lisa|  Finance|   CA|  9000| 24|  Lisa_24|   24|
|   Deja|  Finance|   CA|  9900| 40|  Deja_40|   40|
|  Sugie|  Finance|   NY|  8300| 36| Sugie_36|   36|
|    Ram|  Finance|   NY|  7900| 53|   Ram_53|   53|
| Sathya|  Finance|   AZ|  8200| 53|Sathya_53|   53|
|   Kyle|Marketing|   CA|  8000| 25|  Kyle_25|   25|
|   Reid|Marketing|   NY|  9100| 50|  Reid_50|   50|
+-------+---------+-----+------+---+---------+-----+

In [54]:
#translate()
tr = spark.createDataFrame([("translate",)],['col',])
tr.show()

+---------+
|      col|
+---------+
|translate|
+---------+

In [55]:
tr.withColumn("ex",translate(tr.col,"rnlt","123")).show()

+---------+-------+
|      col|     ex|
+---------+-------+
|translate|1a2s3ae|
+---------+-------+