In [1]:

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=dff3012df6cac470164d133107561b979d61dae16c9f7ffa3d9a8607761bcdde
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark  = SparkSession.builder.appName("test").getOrCreate()

regular expression functions that allow you to perform pattern matching on strings in a DataFrame. Regular expressions are powerful tools for matching, searching, and manipulating strings based on specific patterns.

Here are some key PySpark regexp functions:

regexp_extract:

Extracts substrings that match a regular expression pattern.
Syntax: regexp_extract(col, pattern, groupIndex).
Example: df.select(regexp_extract("text", "(\\w+)", 1).alias("word")).
regexp_replace:

Replaces substrings that match a regular expression pattern with a specified string.
Syntax: regexp_replace(col, pattern, replacement).
Example: df.select(regexp_replace("text", "\\s+", "_").alias("modified_text")).
regexp_like:

Checks if a column matches a regular expression pattern.
Syntax: regexp_like(col, pattern).
Example: df.filter(regexp_like("text", "pattern")).show().
regexp_instr:

Returns the position of the first occurrence of a regular expression pattern in a column.
Syntax: regexp_instr(col, pattern, start).
Example: df.select(regexp_instr("text", "\\d+", 1).alias("position")).
regexp_substr:

Returns the substring that matches a regular expression pattern.
Syntax: regexp_substr(col, pattern, pos).
Example: df.select(regexp_substr("text", "\\w+", 1).alias("substring")).

In [8]:
df= spark.createDataFrame(data=[('10lss1 ab',)],schema = ['str'])
df.show()

+---------+
|      str|
+---------+
|10lss1 ab|
+---------+

In [9]:
df.select(df.str,regexp_extract(df.str,'(\d)',1)).show()

+---------+----------------------------+
|      str|regexp_extract(str, (\d), 1)|
+---------+----------------------------+
|10lss1 ab|                           1|
+---------+----------------------------+

In [10]:
df.select(df.str,regexp_extract(df.str,'(\d+)',1)).show()

+---------+-----------------------------+
|      str|regexp_extract(str, (\d+), 1)|
+---------+-----------------------------+
|10lss1 ab|                           10|
+---------+-----------------------------+

In [13]:
df.select(df.str,regexp_extract(df.str,'(\d+)(\w+)',2)).show()

+---------+----------------------------------+
|      str|regexp_extract(str, (\d+)(\w+), 2)|
+---------+----------------------------------+
|10lss1 ab|                              lss1|
+---------+----------------------------------+

In [16]:
df.select(df.str,regexp_extract(df.str,'(\d+)(\w+)(\s)([a-z]+)',4)).show()

+---------+----------------------------------------------+
|      str|regexp_extract(str, (\d+)(\w+)(\s)([a-z]+), 4)|
+---------+----------------------------------------------+
|10lss1 ab|                                            ab|
+---------+----------------------------------------------+

In [17]:
#regexp_replace(str,pattern,replacement):

In [19]:
df.select(df.str,regexp_replace(df.str,'(\d+)','xx')).show()

+---------+---------------------------------+
|      str|regexp_replace(str, (\d+), xx, 1)|
+---------+---------------------------------+
|10lss1 ab|                       xxlssxx ab|
+---------+---------------------------------+

In [23]:
addr= [(1,'2625 Indian School Rd','pheonix'),
       (2,"1234 Thomas st","Glendale")]

df=  spark.createDataFrame(addr,["id","addr","city"])
df.show(truncate=False)

+---+---------------------+--------+
|id |addr                 |city    |
+---+---------------------+--------+
|1  |2625 Indian School Rd|pheonix |
|2  |1234 Thomas st       |Glendale|
+---+---------------------+--------+

In [26]:
from os import truncate
df.withColumn('new_addr',
              when(df.addr.endswith('Rd'),regexp_replace(df.addr,'Rd','Road'))\
              .when(df.addr.endswith('st'),regexp_replace(df.addr,'st',"Street"))\
              .otherwise(df.addr))\
              .show(truncate= False)

+---+---------------------+--------+-----------------------+
|id |addr                 |city    |new_addr               |
+---+---------------------+--------+-----------------------+
|1  |2625 Indian School Rd|pheonix |2625 Indian School Road|
|2  |1234 Thomas st       |Glendale|1234 Thomas Street     |
+---+---------------------+--------+-----------------------+

In [27]:
df= spark.createDataFrame(data=[('10lss1 ab',)],schema = ['str'])
df.show()

+---------+
|      str|
+---------+
|10lss1 ab|
+---------+

In [29]:
df.select (df.str,df.str.rlike('\d')).show()

+---------+--------------+
|      str|RLIKE(str, \d)|
+---------+--------------+
|10lss1 ab|          true|
+---------+--------------+