In [1]:

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=43b5347bd54214504c0183dffdd37a44b523958dc325ca4b5f49c1bca2cacd98
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark  = SparkSession.builder.appName("test").getOrCreate()

In [120]:

data = [
    Row(OrderId=1, OrderDate="2020-01-15", OrderCustomerId=101, OrderStatus="Pending"),
    Row(OrderId=2, OrderDate="2020-02-17", OrderCustomerId=102, OrderStatus="Shipped"),
    Row(OrderId=3, OrderDate="2021-03-05", OrderCustomerId=103, OrderStatus="Delivered"),
    Row(OrderId=4, OrderDate="2021-04-07", OrderCustomerId=104, OrderStatus="Pending"),
    Row(OrderId=5, OrderDate="2022-05-24", OrderCustomerId=105, OrderStatus="Shipped"),
    Row(OrderId=6, OrderDate="2022-06-01", OrderCustomerId=106, OrderStatus="Delivered"),
    Row(OrderId=7, OrderDate="2022-07-16", OrderCustomerId=107, OrderStatus="Shipped"),
    Row(OrderId=8, OrderDate="2023-08-30", OrderCustomerId=108, OrderStatus="Pending"),
    Row(OrderId=9, OrderDate="2023-09-11", OrderCustomerId=109, OrderStatus="Delivered"),
    Row(OrderId=10, OrderDate="2023-10-21", OrderCustomerId=110, OrderStatus="Shipped")
]


schema= ('OrderId int,OrderDate string,OrderCustomerId int,OrderStatus string')

In [121]:
# Create a DataFrame
df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
df.show()

+-------+----------+---------------+-----------+
|OrderId| OrderDate|OrderCustomerId|OrderStatus|
+-------+----------+---------------+-----------+
|      1|2020-01-15|            101|    Pending|
|      2|2020-02-17|            102|    Shipped|
|      3|2021-03-05|            103|  Delivered|
|      4|2021-04-07|            104|    Pending|
|      5|2022-05-24|            105|    Shipped|
|      6|2022-06-01|            106|  Delivered|
|      7|2022-07-16|            107|    Shipped|
|      8|2023-08-30|            108|    Pending|
|      9|2023-09-11|            109|  Delivered|
|     10|2023-10-21|            110|    Shipped|
+-------+----------+---------------+-----------+

In [92]:
df = df.withColumn("OrderDate", df.OrderDate.cast("date"))
df.show()

+-------+----------+---------------+-----------+
|OrderId| OrderDate|OrderCustomerId|OrderStatus|
+-------+----------+---------------+-----------+
|      1|2020-01-15|            101|    Pending|
|      2|2020-02-17|            102|    Shipped|
|      3|2021-03-05|            103|  Delivered|
|      4|2021-04-07|            104|    Pending|
|      5|2022-05-24|            105|    Shipped|
|      6|2022-06-01|            106|  Delivered|
|      7|2022-07-16|            107|    Shipped|
|      8|2023-08-30|            108|    Pending|
|      9|2023-09-11|            109|  Delivered|
|     10|2023-10-21|            110|    Shipped|
+-------+----------+---------------+-----------+

In [73]:
#column type casting
df = df.withColumn("OrderDate", df.OrderDate.cast("timestamp"))
df.show()

+-------+-------------------+---------------+-----------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|
+-------+-------------------+---------------+-----------+
|      1|2020-01-15 00:00:00|            101|    Pending|
|      2|2020-02-17 00:00:00|            102|    Shipped|
|      3|2021-03-05 00:00:00|            103|  Delivered|
|      4|2021-04-07 00:00:00|            104|    Pending|
|      5|2022-05-24 00:00:00|            105|    Shipped|
|      6|2022-06-01 00:00:00|            106|  Delivered|
|      7|2022-07-16 00:00:00|            107|    Shipped|
|      8|2023-08-30 00:00:00|            108|    Pending|
|      9|2023-09-11 00:00:00|            109|  Delivered|
|     10|2023-10-21 00:00:00|            110|    Shipped|
+-------+-------------------+---------------+-----------+

In [8]:
df.select(current_date()).show()

+--------------+
|current_date()|
+--------------+
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
|    2023-11-21|
+--------------+

In [9]:
df.select(current_timestamp()).show()

+--------------------+
| current_timestamp()|
+--------------------+
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
|2023-11-21 04:28:...|
+--------------------+

In [17]:
#prints next friday
df.select(df.OrderDate,next_day(df.OrderDate,"Fri")).show()

+-------------------+------------------------+
|          OrderDate|next_day(OrderDate, Fri)|
+-------------------+------------------------+
|2020-01-15 00:00:00|              2020-01-17|
|2020-02-17 00:00:00|              2020-02-21|
|2021-03-05 00:00:00|              2021-03-12|
|2021-04-07 00:00:00|              2021-04-09|
|2022-05-24 00:00:00|              2022-05-27|
|2022-06-01 00:00:00|              2022-06-03|
|2022-07-16 00:00:00|              2022-07-22|
|2023-08-30 00:00:00|              2023-09-01|
|2023-09-11 00:00:00|              2023-09-15|
|2023-10-21 00:00:00|              2023-10-27|
+-------------------+------------------------+

In [18]:
#Returns the first date which is later than the value of the date column
df.select(df.OrderDate,next_day(df.OrderDate,"Mon")).show()

+-------------------+------------------------+
|          OrderDate|next_day(OrderDate, Mon)|
+-------------------+------------------------+
|2020-01-15 00:00:00|              2020-01-20|
|2020-02-17 00:00:00|              2020-02-24|
|2021-03-05 00:00:00|              2021-03-08|
|2021-04-07 00:00:00|              2021-04-12|
|2022-05-24 00:00:00|              2022-05-30|
|2022-06-01 00:00:00|              2022-06-06|
|2022-07-16 00:00:00|              2022-07-18|
|2023-08-30 00:00:00|              2023-09-04|
|2023-09-11 00:00:00|              2023-09-18|
|2023-10-21 00:00:00|              2023-10-23|
+-------------------+------------------------+

In [19]:
#Returns the last day of the month which the given date belongs to
df.select(df.OrderDate,last_day(df.OrderDate)).show()

+-------------------+-------------------+
|          OrderDate|last_day(OrderDate)|
+-------------------+-------------------+
|2020-01-15 00:00:00|         2020-01-31|
|2020-02-17 00:00:00|         2020-02-29|
|2021-03-05 00:00:00|         2021-03-31|
|2021-04-07 00:00:00|         2021-04-30|
|2022-05-24 00:00:00|         2022-05-31|
|2022-06-01 00:00:00|         2022-06-30|
|2022-07-16 00:00:00|         2022-07-31|
|2023-08-30 00:00:00|         2023-08-31|
|2023-09-11 00:00:00|         2023-09-30|
|2023-10-21 00:00:00|         2023-10-31|
+-------------------+-------------------+

In [20]:
df.select(df.OrderDate,dayofweek(df.OrderDate)).show()

+-------------------+--------------------+
|          OrderDate|dayofweek(OrderDate)|
+-------------------+--------------------+
|2020-01-15 00:00:00|                   4|
|2020-02-17 00:00:00|                   2|
|2021-03-05 00:00:00|                   6|
|2021-04-07 00:00:00|                   4|
|2022-05-24 00:00:00|                   3|
|2022-06-01 00:00:00|                   4|
|2022-07-16 00:00:00|                   7|
|2023-08-30 00:00:00|                   4|
|2023-09-11 00:00:00|                   2|
|2023-10-21 00:00:00|                   7|
+-------------------+--------------------+

In [104]:
#to extract date
df.select(df.OrderDate,dayofmonth(df.OrderDate)).show()

+----------+---------------------+
| OrderDate|dayofmonth(OrderDate)|
+----------+---------------------+
|2020-01-15|                   15|
|2020-02-17|                   17|
|2021-03-05|                    5|
|2021-04-07|                    7|
|2022-05-24|                   24|
|2022-06-01|                    1|
|2022-07-16|                   16|
|2023-08-30|                   30|
|2023-09-11|                   11|
|2023-10-21|                   21|
+----------+---------------------+

In [24]:
df.select(df.OrderDate,day(df.OrderDate)).show()

+-------------------+--------------+
|          OrderDate|day(OrderDate)|
+-------------------+--------------+
|2020-01-15 00:00:00|            15|
|2020-02-17 00:00:00|            17|
|2021-03-05 00:00:00|             5|
|2021-04-07 00:00:00|             7|
|2022-05-24 00:00:00|            24|
|2022-06-01 00:00:00|             1|
|2022-07-16 00:00:00|            16|
|2023-08-30 00:00:00|            30|
|2023-09-11 00:00:00|            11|
|2023-10-21 00:00:00|            21|
+-------------------+--------------+

In [25]:
#To extract month
df.select(df.OrderDate,month(df.OrderDate)).show()

+-------------------+----------------+
|          OrderDate|month(OrderDate)|
+-------------------+----------------+
|2020-01-15 00:00:00|               1|
|2020-02-17 00:00:00|               2|
|2021-03-05 00:00:00|               3|
|2021-04-07 00:00:00|               4|
|2022-05-24 00:00:00|               5|
|2022-06-01 00:00:00|               6|
|2022-07-16 00:00:00|               7|
|2023-08-30 00:00:00|               8|
|2023-09-11 00:00:00|               9|
|2023-10-21 00:00:00|              10|
+-------------------+----------------+

In [36]:
#To extract quarter
df.select(df.OrderDate,quarter(df.OrderDate)).show()

+-------------------+------------------+
|          OrderDate|quarter(OrderDate)|
+-------------------+------------------+
|2020-01-15 00:00:00|                 1|
|2020-02-17 00:00:00|                 1|
|2021-03-05 00:00:00|                 1|
|2021-04-07 00:00:00|                 2|
|2022-05-24 00:00:00|                 2|
|2022-06-01 00:00:00|                 2|
|2022-07-16 00:00:00|                 3|
|2023-08-30 00:00:00|                 3|
|2023-09-11 00:00:00|                 3|
|2023-10-21 00:00:00|                 4|
+-------------------+------------------+

In [27]:
#To extract year
df.select(df.OrderDate,year(df.OrderDate)).show()

+-------------------+---------------+
|          OrderDate|year(OrderDate)|
+-------------------+---------------+
|2020-01-15 00:00:00|           2020|
|2020-02-17 00:00:00|           2020|
|2021-03-05 00:00:00|           2021|
|2021-04-07 00:00:00|           2021|
|2022-05-24 00:00:00|           2022|
|2022-06-01 00:00:00|           2022|
|2022-07-16 00:00:00|           2022|
|2023-08-30 00:00:00|           2023|
|2023-09-11 00:00:00|           2023|
|2023-10-21 00:00:00|           2023|
+-------------------+---------------+

In [28]:
#day of year
df.select(df.OrderDate,dayofyear(df.OrderDate)).show()

+-------------------+--------------------+
|          OrderDate|dayofyear(OrderDate)|
+-------------------+--------------------+
|2020-01-15 00:00:00|                  15|
|2020-02-17 00:00:00|                  48|
|2021-03-05 00:00:00|                  64|
|2021-04-07 00:00:00|                  97|
|2022-05-24 00:00:00|                 144|
|2022-06-01 00:00:00|                 152|
|2022-07-16 00:00:00|                 197|
|2023-08-30 00:00:00|                 242|
|2023-09-11 00:00:00|                 254|
|2023-10-21 00:00:00|                 294|
+-------------------+--------------------+

In [29]:
#week of year
df.select(df.OrderDate,weekofyear(df.OrderDate)).show()

+-------------------+---------------------+
|          OrderDate|weekofyear(OrderDate)|
+-------------------+---------------------+
|2020-01-15 00:00:00|                    3|
|2020-02-17 00:00:00|                    8|
|2021-03-05 00:00:00|                    9|
|2021-04-07 00:00:00|                   14|
|2022-05-24 00:00:00|                   21|
|2022-06-01 00:00:00|                   22|
|2022-07-16 00:00:00|                   28|
|2023-08-30 00:00:00|                   35|
|2023-09-11 00:00:00|                   37|
|2023-10-21 00:00:00|                   42|
+-------------------+---------------------+

In [33]:
from os import truncate
#Second,minute,hour
df.select(current_timestamp(),second(current_timestamp())).show(truncate= False)

+--------------------------+---------------------------+
|current_timestamp()       |second(current_timestamp())|
+--------------------------+---------------------------+
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
|2023-11-21 04:44:35.899845|35                         |
+--------------------------+---------------------------+

In [34]:
df.select(current_timestamp(),minute(current_timestamp())).show(truncate= False)

+--------------------------+---------------------------+
|current_timestamp()       |minute(current_timestamp())|
+--------------------------+---------------------------+
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
|2023-11-21 04:44:53.233217|44                         |
+--------------------------+---------------------------+

In [35]:
df.select(current_timestamp(),hour(current_timestamp())).show(truncate= False)

+------------------------+-------------------------+
|current_timestamp()     |hour(current_timestamp())|
+------------------------+-------------------------+
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
|2023-11-21 04:45:15.1675|4                        |
+------------------------+-------------------------+

In [41]:
 #months_between(date1,date2,roundOff = True)
 df.select(current_timestamp(),df.OrderDate,months_between(current_timestamp(),df.OrderDate)).show(truncate= False)

+--------------------------+-------------------+----------------------------------------------------+
|current_timestamp()       |OrderDate          |months_between(current_timestamp(), OrderDate, true)|
+--------------------------+-------------------+----------------------------------------------------+
|2023-11-21 04:52:48.266918|2020-01-15 00:00:00|46.20010753                                         |
|2023-11-21 04:52:48.266918|2020-02-17 00:00:00|45.1355914                                          |
|2023-11-21 04:52:48.266918|2021-03-05 00:00:00|32.52268817                                         |
|2023-11-21 04:52:48.266918|2021-04-07 00:00:00|31.45817204                                         |
|2023-11-21 04:52:48.266918|2022-05-24 00:00:00|17.90978495                                         |
|2023-11-21 04:52:48.266918|2022-06-01 00:00:00|17.65172043                                         |
|2023-11-21 04:52:48.266918|2022-07-16 00:00:00|16.16784946                                         |
|2023-11-21 04:52:48.266918|2023-08-30 00:00:00|2.71623656                                          |
|2023-11-21 04:52:48.266918|2023-09-11 00:00:00|2.32913978                                          |
|2023-11-21 04:52:48.266918|2023-10-21 00:00:00|1.0                                                 |
+--------------------------+-------------------+----------------------------------------------------+

In [42]:
 df.select(current_timestamp(),df.OrderDate,ceil(months_between(current_timestamp(),df.OrderDate))).show(truncate= False)

+--------------------------+-------------------+----------------------------------------------------------+
|current_timestamp()       |OrderDate          |CEIL(months_between(current_timestamp(), OrderDate, true))|
+--------------------------+-------------------+----------------------------------------------------------+
|2023-11-21 04:54:07.070992|2020-01-15 00:00:00|47                                                        |
|2023-11-21 04:54:07.070992|2020-02-17 00:00:00|46                                                        |
|2023-11-21 04:54:07.070992|2021-03-05 00:00:00|33                                                        |
|2023-11-21 04:54:07.070992|2021-04-07 00:00:00|32                                                        |
|2023-11-21 04:54:07.070992|2022-05-24 00:00:00|18                                                        |
|2023-11-21 04:54:07.070992|2022-06-01 00:00:00|18                                                        |
|2023-11-21 04:54:07.070992|2022-07-16 00:00:00|17                                                        |
|2023-11-21 04:54:07.070992|2023-08-30 00:00:00|3                                                         |
|2023-11-21 04:54:07.070992|2023-09-11 00:00:00|3                                                         |
|2023-11-21 04:54:07.070992|2023-10-21 00:00:00|1                                                         |
+--------------------------+-------------------+----------------------------------------------------------+

In [43]:
 df.select(current_timestamp(),df.OrderDate,floor(months_between(current_timestamp(),df.OrderDate))).show(truncate= False)

+--------------------------+-------------------+-----------------------------------------------------------+
|current_timestamp()       |OrderDate          |FLOOR(months_between(current_timestamp(), OrderDate, true))|
+--------------------------+-------------------+-----------------------------------------------------------+
|2023-11-21 04:54:38.389317|2020-01-15 00:00:00|46                                                         |
|2023-11-21 04:54:38.389317|2020-02-17 00:00:00|45                                                         |
|2023-11-21 04:54:38.389317|2021-03-05 00:00:00|32                                                         |
|2023-11-21 04:54:38.389317|2021-04-07 00:00:00|31                                                         |
|2023-11-21 04:54:38.389317|2022-05-24 00:00:00|17                                                         |
|2023-11-21 04:54:38.389317|2022-06-01 00:00:00|17                                                         |
|2023-11-21 04:54:38.389317|2022-07-16 00:00:00|16                                                         |
|2023-11-21 04:54:38.389317|2023-08-30 00:00:00|2                                                          |
|2023-11-21 04:54:38.389317|2023-09-11 00:00:00|2                                                          |
|2023-11-21 04:54:38.389317|2023-10-21 00:00:00|1                                                          |
+--------------------------+-------------------+-----------------------------------------------------------+

In [44]:
#date_add(): Add number of Days
df.select(df.OrderDate,date_add(df.OrderDate,5)).show()

+-------------------+----------------------+
|          OrderDate|date_add(OrderDate, 5)|
+-------------------+----------------------+
|2020-01-15 00:00:00|            2020-01-20|
|2020-02-17 00:00:00|            2020-02-22|
|2021-03-05 00:00:00|            2021-03-10|
|2021-04-07 00:00:00|            2021-04-12|
|2022-05-24 00:00:00|            2022-05-29|
|2022-06-01 00:00:00|            2022-06-06|
|2022-07-16 00:00:00|            2022-07-21|
|2023-08-30 00:00:00|            2023-09-04|
|2023-09-11 00:00:00|            2023-09-16|
|2023-10-21 00:00:00|            2023-10-26|
+-------------------+----------------------+

In [45]:
#date_sub()
df.select(df.OrderDate,date_sub(df.OrderDate,5)).show()

+-------------------+----------------------+
|          OrderDate|date_sub(OrderDate, 5)|
+-------------------+----------------------+
|2020-01-15 00:00:00|            2020-01-10|
|2020-02-17 00:00:00|            2020-02-12|
|2021-03-05 00:00:00|            2021-02-28|
|2021-04-07 00:00:00|            2021-04-02|
|2022-05-24 00:00:00|            2022-05-19|
|2022-06-01 00:00:00|            2022-05-27|
|2022-07-16 00:00:00|            2022-07-11|
|2023-08-30 00:00:00|            2023-08-25|
|2023-09-11 00:00:00|            2023-09-06|
|2023-10-21 00:00:00|            2023-10-16|
+-------------------+----------------------+

In [47]:
#add_months()
df.select(df.OrderDate,add_months(df.OrderDate,6)).show()

+-------------------+------------------------+
|          OrderDate|add_months(OrderDate, 6)|
+-------------------+------------------------+
|2020-01-15 00:00:00|              2020-07-15|
|2020-02-17 00:00:00|              2020-08-17|
|2021-03-05 00:00:00|              2021-09-05|
|2021-04-07 00:00:00|              2021-10-07|
|2022-05-24 00:00:00|              2022-11-24|
|2022-06-01 00:00:00|              2022-12-01|
|2022-07-16 00:00:00|              2023-01-16|
|2023-08-30 00:00:00|              2024-02-29|
|2023-09-11 00:00:00|              2024-03-11|
|2023-10-21 00:00:00|              2024-04-21|
+-------------------+------------------------+

In [50]:
#datediff()
df.select(current_timestamp(),df.OrderDate,datediff(current_timestamp(),df.OrderDate))\
.show()

+--------------------+-------------------+----------------------------------------+
| current_timestamp()|          OrderDate|datediff(current_timestamp(), OrderDate)|
+--------------------+-------------------+----------------------------------------+
|2023-11-21 05:05:...|2020-01-15 00:00:00|                                    1406|
|2023-11-21 05:05:...|2020-02-17 00:00:00|                                    1373|
|2023-11-21 05:05:...|2021-03-05 00:00:00|                                     991|
|2023-11-21 05:05:...|2021-04-07 00:00:00|                                     958|
|2023-11-21 05:05:...|2022-05-24 00:00:00|                                     546|
|2023-11-21 05:05:...|2022-06-01 00:00:00|                                     538|
|2023-11-21 05:05:...|2022-07-16 00:00:00|                                     493|
|2023-11-21 05:05:...|2023-08-30 00:00:00|                                      83|
|2023-11-21 05:05:...|2023-09-11 00:00:00|                                      71|
|2023-11-21 05:05:...|2023-10-21 00:00:00|                                      31|
+--------------------+-------------------+----------------------------------------+

In [49]:
#datediff()
df.select(df.OrderDate,current_timestamp(),datediff(df.OrderDate,current_timestamp()))\
.show()

+-------------------+--------------------+----------------------------------------+
|          OrderDate| current_timestamp()|datediff(OrderDate, current_timestamp())|
+-------------------+--------------------+----------------------------------------+
|2020-01-15 00:00:00|2023-11-21 05:04:...|                                   -1406|
|2020-02-17 00:00:00|2023-11-21 05:04:...|                                   -1373|
|2021-03-05 00:00:00|2023-11-21 05:04:...|                                    -991|
|2021-04-07 00:00:00|2023-11-21 05:04:...|                                    -958|
|2022-05-24 00:00:00|2023-11-21 05:04:...|                                    -546|
|2022-06-01 00:00:00|2023-11-21 05:04:...|                                    -538|
|2022-07-16 00:00:00|2023-11-21 05:04:...|                                    -493|
|2023-08-30 00:00:00|2023-11-21 05:04:...|                                     -83|
|2023-09-11 00:00:00|2023-11-21 05:04:...|                                     -71|
|2023-10-21 00:00:00|2023-11-21 05:04:...|                                     -31|
+-------------------+--------------------+----------------------------------------+

In [105]:
#date_trunc(format,timestamp)
#returns timestamp truncated to the unit specified by the format
#format: 'year','yy','month','mon','mm','day','dd','hour','minute','week','quarter'

df.withColumn('OrderYear',date_trunc('yyyy',df.OrderDate)).show()

+-------+----------+---------------+-----------+-------------------+
|OrderId| OrderDate|OrderCustomerId|OrderStatus|          OrderYear|
+-------+----------+---------------+-----------+-------------------+
|      1|2020-01-15|            101|    Pending|2020-01-01 00:00:00|
|      2|2020-02-17|            102|    Shipped|2020-01-01 00:00:00|
|      3|2021-03-05|            103|  Delivered|2021-01-01 00:00:00|
|      4|2021-04-07|            104|    Pending|2021-01-01 00:00:00|
|      5|2022-05-24|            105|    Shipped|2022-01-01 00:00:00|
|      6|2022-06-01|            106|  Delivered|2022-01-01 00:00:00|
|      7|2022-07-16|            107|    Shipped|2022-01-01 00:00:00|
|      8|2023-08-30|            108|    Pending|2023-01-01 00:00:00|
|      9|2023-09-11|            109|  Delivered|2023-01-01 00:00:00|
|     10|2023-10-21|            110|    Shipped|2023-01-01 00:00:00|
+-------+----------+---------------+-----------+-------------------+

In [54]:
df.withColumn('OrderYear',date_trunc('month',df.OrderDate)).show()

+-------+-------------------+---------------+-----------+-------------------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|          OrderYear|
+-------+-------------------+---------------+-----------+-------------------+
|      1|2020-01-15 00:00:00|            101|    Pending|2020-01-01 00:00:00|
|      2|2020-02-17 00:00:00|            102|    Shipped|2020-02-01 00:00:00|
|      3|2021-03-05 00:00:00|            103|  Delivered|2021-03-01 00:00:00|
|      4|2021-04-07 00:00:00|            104|    Pending|2021-04-01 00:00:00|
|      5|2022-05-24 00:00:00|            105|    Shipped|2022-05-01 00:00:00|
|      6|2022-06-01 00:00:00|            106|  Delivered|2022-06-01 00:00:00|
|      7|2022-07-16 00:00:00|            107|    Shipped|2022-07-01 00:00:00|
|      8|2023-08-30 00:00:00|            108|    Pending|2023-08-01 00:00:00|
|      9|2023-09-11 00:00:00|            109|  Delivered|2023-09-01 00:00:00|
|     10|2023-10-21 00:00:00|            110|    Shipped|2023-10-01 00:00:00|
+-------+-------------------+---------------+-----------+-------------------+

In [55]:
df.withColumn('OrderYear',date_trunc('quarter',df.OrderDate)).show()

+-------+-------------------+---------------+-----------+-------------------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|          OrderYear|
+-------+-------------------+---------------+-----------+-------------------+
|      1|2020-01-15 00:00:00|            101|    Pending|2020-01-01 00:00:00|
|      2|2020-02-17 00:00:00|            102|    Shipped|2020-01-01 00:00:00|
|      3|2021-03-05 00:00:00|            103|  Delivered|2021-01-01 00:00:00|
|      4|2021-04-07 00:00:00|            104|    Pending|2021-04-01 00:00:00|
|      5|2022-05-24 00:00:00|            105|    Shipped|2022-04-01 00:00:00|
|      6|2022-06-01 00:00:00|            106|  Delivered|2022-04-01 00:00:00|
|      7|2022-07-16 00:00:00|            107|    Shipped|2022-07-01 00:00:00|
|      8|2023-08-30 00:00:00|            108|    Pending|2023-07-01 00:00:00|
|      9|2023-09-11 00:00:00|            109|  Delivered|2023-07-01 00:00:00|
|     10|2023-10-21 00:00:00|            110|    Shipped|2023-10-01 00:00:00|
+-------+-------------------+---------------+-----------+-------------------+

In [56]:
#date_format(date,'format')
df.withColumn('NewOrderDate',date_format(df.OrderDate,"yyyy/mm/dd")).show()

+-------+-------------------+---------------+-----------+------------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|NewOrderDate|
+-------+-------------------+---------------+-----------+------------+
|      1|2020-01-15 00:00:00|            101|    Pending|  2020/00/15|
|      2|2020-02-17 00:00:00|            102|    Shipped|  2020/00/17|
|      3|2021-03-05 00:00:00|            103|  Delivered|  2021/00/05|
|      4|2021-04-07 00:00:00|            104|    Pending|  2021/00/07|
|      5|2022-05-24 00:00:00|            105|    Shipped|  2022/00/24|
|      6|2022-06-01 00:00:00|            106|  Delivered|  2022/00/01|
|      7|2022-07-16 00:00:00|            107|    Shipped|  2022/00/16|
|      8|2023-08-30 00:00:00|            108|    Pending|  2023/00/30|
|      9|2023-09-11 00:00:00|            109|  Delivered|  2023/00/11|
|     10|2023-10-21 00:00:00|            110|    Shipped|  2023/00/21|
+-------+-------------------+---------------+-----------+------------+

In [57]:
#date_format(date,'yyyy')
df.withColumn('NewOrderDate',date_format(df.OrderDate,"yyyy")).show()

+-------+-------------------+---------------+-----------+------------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|NewOrderDate|
+-------+-------------------+---------------+-----------+------------+
|      1|2020-01-15 00:00:00|            101|    Pending|        2020|
|      2|2020-02-17 00:00:00|            102|    Shipped|        2020|
|      3|2021-03-05 00:00:00|            103|  Delivered|        2021|
|      4|2021-04-07 00:00:00|            104|    Pending|        2021|
|      5|2022-05-24 00:00:00|            105|    Shipped|        2022|
|      6|2022-06-01 00:00:00|            106|  Delivered|        2022|
|      7|2022-07-16 00:00:00|            107|    Shipped|        2022|
|      8|2023-08-30 00:00:00|            108|    Pending|        2023|
|      9|2023-09-11 00:00:00|            109|  Delivered|        2023|
|     10|2023-10-21 00:00:00|            110|    Shipped|        2023|
+-------+-------------------+---------------+-----------+------------+

In [64]:
#date_format(date,'dd')
df.withColumn('NewOrderDate',date_format(df.OrderDate,"dd")).show()

+-------+-------------------+---------------+-----------+------------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|NewOrderDate|
+-------+-------------------+---------------+-----------+------------+
|      1|2020-01-15 00:00:00|            101|    Pending|          15|
|      2|2020-02-17 00:00:00|            102|    Shipped|          17|
|      3|2021-03-05 00:00:00|            103|  Delivered|          05|
|      4|2021-04-07 00:00:00|            104|    Pending|          07|
|      5|2022-05-24 00:00:00|            105|    Shipped|          24|
|      6|2022-06-01 00:00:00|            106|  Delivered|          01|
|      7|2022-07-16 00:00:00|            107|    Shipped|          16|
|      8|2023-08-30 00:00:00|            108|    Pending|          30|
|      9|2023-09-11 00:00:00|            109|  Delivered|          11|
|     10|2023-10-21 00:00:00|            110|    Shipped|          21|
+-------+-------------------+---------------+-----------+------------+

In [65]:
#date_format(date,'mm')
df.withColumn('NewOrderDate',date_format(df.OrderDate,"mm")).show()

+-------+-------------------+---------------+-----------+------------+
|OrderId|          OrderDate|OrderCustomerId|OrderStatus|NewOrderDate|
+-------+-------------------+---------------+-----------+------------+
|      1|2020-01-15 00:00:00|            101|    Pending|          00|
|      2|2020-02-17 00:00:00|            102|    Shipped|          00|
|      3|2021-03-05 00:00:00|            103|  Delivered|          00|
|      4|2021-04-07 00:00:00|            104|    Pending|          00|
|      5|2022-05-24 00:00:00|            105|    Shipped|          00|
|      6|2022-06-01 00:00:00|            106|  Delivered|          00|
|      7|2022-07-16 00:00:00|            107|    Shipped|          00|
|      8|2023-08-30 00:00:00|            108|    Pending|          00|
|      9|2023-09-11 00:00:00|            109|  Delivered|          00|
|     10|2023-10-21 00:00:00|            110|    Shipped|          00|
+-------+-------------------+---------------+-----------+------------+

In [108]:
#to_date()
df.withColumn('NewOrderDate',to_date(df.OrderDate,'yyyy-mm-dd')).show()

+-------+----------+---------------+-----------+------------+
|OrderId| OrderDate|OrderCustomerId|OrderStatus|NewOrderDate|
+-------+----------+---------------+-----------+------------+
|      1|2020-01-15|            101|    Pending|  2020-01-15|
|      2|2020-02-17|            102|    Shipped|  2020-01-17|
|      3|2021-03-05|            103|  Delivered|  2021-01-05|
|      4|2021-04-07|            104|    Pending|  2021-01-07|
|      5|2022-05-24|            105|    Shipped|  2022-01-24|
|      6|2022-06-01|            106|  Delivered|  2022-01-01|
|      7|2022-07-16|            107|    Shipped|  2022-01-16|
|      8|2023-08-30|            108|    Pending|  2023-01-30|
|      9|2023-09-11|            109|  Delivered|  2023-01-11|
|     10|2023-10-21|            110|    Shipped|  2023-01-21|
+-------+----------+---------------+-----------+------------+

In [111]:
#to_timestamp()
df.withColumn('NewOrderDate',to_timestamp(df.OrderDate,'yyyy-mm-dd')).show()

+-------+----------+---------------+-----------+-------------------+
|OrderId| OrderDate|OrderCustomerId|OrderStatus|       NewOrderDate|
+-------+----------+---------------+-----------+-------------------+
|      1|2020-01-15|            101|    Pending|2020-01-15 00:01:00|
|      2|2020-02-17|            102|    Shipped|2020-01-17 00:02:00|
|      3|2021-03-05|            103|  Delivered|2021-01-05 00:03:00|
|      4|2021-04-07|            104|    Pending|2021-01-07 00:04:00|
|      5|2022-05-24|            105|    Shipped|2022-01-24 00:05:00|
|      6|2022-06-01|            106|  Delivered|2022-01-01 00:06:00|
|      7|2022-07-16|            107|    Shipped|2022-01-16 00:07:00|
|      8|2023-08-30|            108|    Pending|2023-01-30 00:08:00|
|      9|2023-09-11|            109|  Delivered|2023-01-11 00:09:00|
|     10|2023-10-21|            110|    Shipped|2023-01-21 00:10:00|
+-------+----------+---------------+-----------+-------------------+

In [98]:
#Max() and Min()
min_date = df.agg(min("OrderDate")).collect()[0][0]
max_date = df.agg(max("OrderDate")).collect()[0][0]

print(min_date)
print(max_date)

2020-01-15
2023-10-21

In [96]:
print(type(min_date))

<class 'datetime.date'>

In [99]:
print(max_date - min_date )

1375 days, 0:00:00