In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=7ac88242247ba3d337b9a273b2e2412b8ea7e713492792e8b836eeb26fcd1caf
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark  = SparkSession.builder.appName("test").getOrCreate()

In [5]:
students1 =[{'rollno':'001','name':'sravan','age':23,'height':5.79,'weight':67,'address':'guntur'},
               {'rollno':'002','name':'ojaswi','age':16,'height':3.79,'weight':34,'address':'hyd'},
               {'rollno':'003','name':'gnanesh chowdary','age':7,'height':2.79,'weight':17,'address':'patna'},
               {'rollno':'004','name':'rohith','age':9,'height':2.79,'weight':28,'address':'hyd'},
               {'rollno':'005','name':'sridevi','age':9,'height':5.59,'weight':54,'address':'hyd'}]

# create the dataframe
df = spark.createDataFrame( students1)

# display dataframe
df.show()

+-------+---+------+----------------+------+------+
|address|age|height|            name|rollno|weight|
+-------+---+------+----------------+------+------+
| guntur| 23|  5.79|          sravan|   001|    67|
|    hyd| 16|  3.79|          ojaswi|   002|    34|
|  patna|  7|  2.79|gnanesh chowdary|   003|    17|
|    hyd|  9|  2.79|          rohith|   004|    28|
|    hyd|  9|  5.59|         sridevi|   005|    54|
+-------+---+------+----------------+------+------+

In [6]:
#abs()
df.select(abs(df.height)).show()

+-----------+
|abs(height)|
+-----------+
|       5.79|
|       3.79|
|       2.79|
|       2.79|
|       5.59|
+-----------+

In [7]:
#exp()
df.select(df.height,exp(df.height)).show()

+------+------------------+
|height|       EXP(height)|
+------+------------------+
|  5.79|327.01302437597104|
|  3.79| 44.25640027598337|
|  2.79| 16.28101980178843|
|  2.79| 16.28101980178843|
|  5.59|267.73561971364717|
+------+------------------+

In [8]:
#Factorial()
df.select(df.height,factorial(df.height)).show()

+------+-----------------+
|height|factorial(height)|
+------+-----------------+
|  5.79|              120|
|  3.79|                6|
|  2.79|                2|
|  2.79|                2|
|  5.59|              120|
+------+-----------------+

In [9]:
#sqrt()
#cbrt()
#pow(col,rank)

In [10]:
#pow(col,rank)
df.select(df.age,pow(df.age,2)).show()

+---+-------------+
|age|POWER(age, 2)|
+---+-------------+
| 23|        529.0|
| 16|        256.0|
|  7|         49.0|
|  9|         81.0|
|  9|         81.0|
+---+-------------+

In [12]:
#floor(),ceil()
df.select(df.height,floor(df.height),ceil(df.height)).show()

+------+-------------+------------+
|height|FLOOR(height)|CEIL(height)|
+------+-------------+------------+
|  5.79|            5|           6|
|  3.79|            3|           4|
|  2.79|            2|           3|
|  2.79|            2|           3|
|  5.59|            5|           6|
+------+-------------+------------+

In [13]:
#round()
df.select(df.height,round(df.height)).show()

+------+----------------+
|height|round(height, 0)|
+------+----------------+
|  5.79|             6.0|
|  3.79|             4.0|
|  2.79|             3.0|
|  2.79|             3.0|
|  5.59|             6.0|
+------+----------------+

In [29]:
#trunc()