In [27]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [30]:
df = spark.read.csv("/content/EmpStatus.csv",header= True, inferSchema=True)
display(df)

DataFrame[Age: int, Attrition: string, BusinessTravel: string, DailyRate: int, Department: string, DistanceFromHome: int, Education: int, EducationField: string, EmployeeCount: int, EmployeeNumber: int, EnvironmentSatisfaction: int, Gender: string, HourlyRate: int, JobInvolvement: int, JobLevel: int, JobRole: string, JobSatisfaction: int, MaritalStatus: string, MonthlyIncome: int, MonthlyRate: int, NumCompaniesWorked: int, Over18: string, OverTime: string, PercentSalaryHike: int, PerformanceRating: int, RelationshipSatisfaction: int, StandardHours: int, StockOptionLevel: int, TotalWorkingYears: int, TrainingTimesLastYear: int, WorkLifeBalance: int, YearsAtCompany: int, YearsInCurrentRole: int, YearsSinceLastPromotion: int, YearsWithCurrManager: int]

In [56]:
df.createOrReplaceTempView("emp")

In [6]:
spark.sql("select * from emp").show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [28]:
spark.sql("select Age,JobRole from emp").show()

+---+--------------------+
|Age|             JobRole|
+---+--------------------+
| 41|     Sales Executive|
| 49|  Research Scientist|
| 37|Laboratory Techni...|
| 33|  Research Scientist|
| 27|Laboratory Techni...|
| 32|Laboratory Techni...|
| 59|Laboratory Techni...|
| 30|Laboratory Techni...|
| 38|Manufacturing Dir...|
| 36|Healthcare Repres...|
| 35|Laboratory Techni...|
| 29|Laboratory Techni...|
| 31|  Research Scientist|
| 34|Laboratory Techni...|
| 28|Laboratory Techni...|
| 29|Manufacturing Dir...|
| 32|  Research Scientist|
| 22|Laboratory Techni...|
| 53|             Manager|
| 38|  Research Scientist|
+---+--------------------+
only showing top 20 rows

In [ ]:
df.select('Age','JobROle').show()

+---+--------------------+
|Age|             JobROle|
+---+--------------------+
| 41|     Sales Executive|
| 49|  Research Scientist|
| 37|Laboratory Techni...|
| 33|  Research Scientist|
| 27|Laboratory Techni...|
| 32|Laboratory Techni...|
| 59|Laboratory Techni...|
| 30|Laboratory Techni...|
| 38|Manufacturing Dir...|
| 36|Healthcare Repres...|
| 35|Laboratory Techni...|
| 29|Laboratory Techni...|
| 31|  Research Scientist|
| 34|Laboratory Techni...|
| 28|Laboratory Techni...|
| 29|Manufacturing Dir...|
| 32|  Research Scientist|
| 22|Laboratory Techni...|
| 53|             Manager|
| 38|  Research Scientist|
+---+--------------------+
only showing top 20 rows

In [ ]:
spark.sql("select Age as EmpAge,JobRole as EmpJobRole from emp").show()

+------+--------------------+
|EmpAge|          EmpJobRole|
+------+--------------------+
|    41|     Sales Executive|
|    49|  Research Scientist|
|    37|Laboratory Techni...|
|    33|  Research Scientist|
|    27|Laboratory Techni...|
|    32|Laboratory Techni...|
|    59|Laboratory Techni...|
|    30|Laboratory Techni...|
|    38|Manufacturing Dir...|
|    36|Healthcare Repres...|
|    35|Laboratory Techni...|
|    29|Laboratory Techni...|
|    31|  Research Scientist|
|    34|Laboratory Techni...|
|    28|Laboratory Techni...|
|    29|Manufacturing Dir...|
|    32|  Research Scientist|
|    22|Laboratory Techni...|
|    53|             Manager|
|    38|  Research Scientist|
+------+--------------------+
only showing top 20 rows

In [ ]:
df.select(df.Age.alias("EmpAge"),df.JobRole.alias("EmpJobRole")).show()

+------+--------------------+
|EmpAge|          EmpJobRole|
+------+--------------------+
|    41|     Sales Executive|
|    49|  Research Scientist|
|    37|Laboratory Techni...|
|    33|  Research Scientist|
|    27|Laboratory Techni...|
|    32|Laboratory Techni...|
|    59|Laboratory Techni...|
|    30|Laboratory Techni...|
|    38|Manufacturing Dir...|
|    36|Healthcare Repres...|
|    35|Laboratory Techni...|
|    29|Laboratory Techni...|
|    31|  Research Scientist|
|    34|Laboratory Techni...|
|    28|Laboratory Techni...|
|    29|Manufacturing Dir...|
|    32|  Research Scientist|
|    22|Laboratory Techni...|
|    53|             Manager|
|    38|  Research Scientist|
+------+--------------------+
only showing top 20 rows

In [60]:
spark.sql("select * from emp where Age > 40").show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2|   Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|         Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4|   Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 53|       No|    Travel_Rarely|     1282|Research & Develo...|               5|        3|           Other|            1|            32|                      3|Female|        58|             3|       5|             Manager|              3|     Divorced|        19094|      10735|                 4|     Y|      No|               11|                3|                       4|           80|               1|               26|                    3|              2|            14|                13|                      4|                   8|
| 42|       No|    Travel_Rarely|      691|               Sales|               8|        4|       Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 44|       No|    Travel_Rarely|      477|Research & Develo...|               7|        4|         Medical|            1|            36|                      1|Female|        42|             2|       3|Healthcare Repres...|              4|      Married|        10248|       2094|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|            22|                 6|                      5|                  17|
| 46|       No|    Travel_Rarely|      705|               Sales|               2|        4|       Marketing|            1|            38|                      2|Female|        83|             3|       5|             Manager|              1|       Single|        18947|      22822|                 3|     Y|      No|               12|                3|                       4|           80|               0|               22|                    2|              2|             2|                 2|                      2|                   1|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 43|       No|    Travel_Rarely|     1273|Research & Develo...|               2|        2|         Medical|            1|            46|                      4|Female|        72|             4|       1|  Research Scientist|              3|     Divorced|         2645|      21923|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    3|              2|             5|                 3|                      1|                   4|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|   Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 46|       No|Travel_Frequently|     1211|               Sales|               5|        4|       Marketing|            1|            62|                      1|  Male|        98|             3|       2|     Sales Executive|              4|       Single|         5772|      20445|                 4|     Y|     Yes|               21|                4|                       3|           80|               0|               14|                    4|              3|             9|                 6|                      0|                   8|
| 48|      Yes|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|            1|            64|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Y|     Yes|               13|                3|                       4|           80|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 44|       No|    Travel_Rarely|     1488|               Sales|               1|        5|       Marketing|            1|            68|                      2|Female|        75|             3|       2|     Sales Executive|              1|     Divorced|         5454|       4009|                 5|     Y|     Yes|               21|                4|                       3|           80|               1|                9|                    2|              2|             4|                 3|                      1|                   3|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|   Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 59|       No|    Travel_Rarely|     1435|               Sales|              25|        3|   Life Sciences|            1|            81|                      1|Female|        99|             3|       3|     Sales Executive|              1|       Single|         7637|       2354|                 7|     Y|      No|               11|                3|                       4|           80|               0|               28|                    3|              2|            21|                16|                      7|                   9|
| 55|       No|    Travel_Rarely|      836|Research & Develo...|               8|        3|         Medical|            1|            84|                      4|Female|        33|             3|       4|             Manager|              3|     Divorced|        14756|      19730|                 2|     Y|     Yes|               14|                3|                       3|           80|               3|               21|                    2|              3|             5|                 0|                      0|                   2|
| 45|       No|    Travel_Rarely|     1339|Research & Develo...|               7|        3|   Life Sciences|            1|            86|                      2|  Male|        59|             3|       3|  Research Scientist|              1|     Divorced|         9724|      18787|                 2|     Y|      No|               17|                3|                       3|           80|               1|               25|                    2|              3|             1|                 0|                      0|                   0|
| 59|       No|Travel_Frequently|     1225|               Sales|               1|        1|   Life Sciences|            1|            91|                      1|Female|        57|             2|       2|     Sales Executive|              3|       Single|         5473|      24668|                 7|     Y|      No|               11|                3|                       4|           80|               0|               20|                    2|              2|             4|                 3|                      1|                   3|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
df.where(df.Age > 40 ).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2|   Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|         Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4|   Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 53|       No|    Travel_Rarely|     1282|Research & Develo...|               5|        3|           Other|            1|            32|                      3|Female|        58|             3|       5|             Manager|              3|     Divorced|        19094|      10735|                 4|     Y|      No|               11|                3|                       4|           80|               1|               26|                    3|              2|            14|                13|                      4|                   8|
| 42|       No|    Travel_Rarely|      691|               Sales|               8|        4|       Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 44|       No|    Travel_Rarely|      477|Research & Develo...|               7|        4|         Medical|            1|            36|                      1|Female|        42|             2|       3|Healthcare Repres...|              4|      Married|        10248|       2094|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|            22|                 6|                      5|                  17|
| 46|       No|    Travel_Rarely|      705|               Sales|               2|        4|       Marketing|            1|            38|                      2|Female|        83|             3|       5|             Manager|              1|       Single|        18947|      22822|                 3|     Y|      No|               12|                3|                       4|           80|               0|               22|                    2|              2|             2|                 2|                      2|                   1|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 43|       No|    Travel_Rarely|     1273|Research & Develo...|               2|        2|         Medical|            1|            46|                      4|Female|        72|             4|       1|  Research Scientist|              3|     Divorced|         2645|      21923|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    3|              2|             5|                 3|                      1|                   4|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|   Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 46|       No|Travel_Frequently|     1211|               Sales|               5|        4|       Marketing|            1|            62|                      1|  Male|        98|             3|       2|     Sales Executive|              4|       Single|         5772|      20445|                 4|     Y|     Yes|               21|                4|                       3|           80|               0|               14|                    4|              3|             9|                 6|                      0|                   8|
| 48|      Yes|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|            1|            64|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Y|     Yes|               13|                3|                       4|           80|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 44|       No|    Travel_Rarely|     1488|               Sales|               1|        5|       Marketing|            1|            68|                      2|Female|        75|             3|       2|     Sales Executive|              1|     Divorced|         5454|       4009|                 5|     Y|     Yes|               21|                4|                       3|           80|               1|                9|                    2|              2|             4|                 3|                      1|                   3|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|   Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 59|       No|    Travel_Rarely|     1435|               Sales|              25|        3|   Life Sciences|            1|            81|                      1|Female|        99|             3|       3|     Sales Executive|              1|       Single|         7637|       2354|                 7|     Y|      No|               11|                3|                       4|           80|               0|               28|                    3|              2|            21|                16|                      7|                   9|
| 55|       No|    Travel_Rarely|      836|Research & Develo...|               8|        3|         Medical|            1|            84|                      4|Female|        33|             3|       4|             Manager|              3|     Divorced|        14756|      19730|                 2|     Y|     Yes|               14|                3|                       3|           80|               3|               21|                    2|              3|             5|                 0|                      0|                   2|
| 45|       No|    Travel_Rarely|     1339|Research & Develo...|               7|        3|   Life Sciences|            1|            86|                      2|  Male|        59|             3|       3|  Research Scientist|              1|     Divorced|         9724|      18787|                 2|     Y|      No|               17|                3|                       3|           80|               1|               25|                    2|              3|             1|                 0|                      0|                   0|
| 59|       No|Travel_Frequently|     1225|               Sales|               1|        1|   Life Sciences|            1|            91|                      1|Female|        57|             2|       2|     Sales Executive|              3|       Single|         5473|      24668|                 7|     Y|      No|               11|                3|                       4|           80|               0|               20|                    2|              2|             4|                 3|                      1|                   3|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
spark.sql("select * from emp where Age between 18 and 40").show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
| 24|       No|       Non-Travel|      673|Research & Develo...|              11|        2|         Other|            1|            26|                      1|Female|        96|             4|       2|Manufacturing Dir...|              3|     Divorced|         4011|       8232|                 0|     Y|      No|               18|                3|                       4|           80|               1|                5|                    5|              2|             4|                 2|                      1|                   3|
| 36|      Yes|    Travel_Rarely|     1218|               Sales|               9|        4| Life Sciences|            1|            27|                      3|  Male|        82|             2|       1|Sales Representative|              1|       Single|         3407|       6986|                 7|     Y|      No|               23|                4|                       2|           80|               0|               10|                    4|              3|             5|                 3|                      0|                   3|
| 34|       No|    Travel_Rarely|      419|Research & Develo...|               7|        4| Life Sciences|            1|            28|                      1|Female|        53|             3|       3|   Research Director|              2|       Single|        11994|      21293|                 0|     Y|      No|               11|                3|                       3|           80|               0|               13|                    4|              3|            12|                 6|                      2|                  11|
| 21|       No|    Travel_Rarely|      391|Research & Develo...|              15|        2| Life Sciences|            1|            30|                      3|  Male|        96|             3|       1|  Research Scientist|              4|       Single|         1232|      19281|                 1|     Y|      No|               14|                3|                       4|           80|               0|                0|                    6|              3|             0|                 0|                      0|                   0|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
df.where(df.Age.between(18,40)).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
| 24|       No|       Non-Travel|      673|Research & Develo...|              11|        2|         Other|            1|            26|                      1|Female|        96|             4|       2|Manufacturing Dir...|              3|     Divorced|         4011|       8232|                 0|     Y|      No|               18|                3|                       4|           80|               1|                5|                    5|              2|             4|                 2|                      1|                   3|
| 36|      Yes|    Travel_Rarely|     1218|               Sales|               9|        4| Life Sciences|            1|            27|                      3|  Male|        82|             2|       1|Sales Representative|              1|       Single|         3407|       6986|                 7|     Y|      No|               23|                4|                       2|           80|               0|               10|                    4|              3|             5|                 3|                      0|                   3|
| 34|       No|    Travel_Rarely|      419|Research & Develo...|               7|        4| Life Sciences|            1|            28|                      1|Female|        53|             3|       3|   Research Director|              2|       Single|        11994|      21293|                 0|     Y|      No|               11|                3|                       3|           80|               0|               13|                    4|              3|            12|                 6|                      2|                  11|
| 21|       No|    Travel_Rarely|      391|Research & Develo...|              15|        2| Life Sciences|            1|            30|                      3|  Male|        96|             3|       1|  Research Scientist|              4|       Single|         1232|      19281|                 1|     Y|      No|               14|                3|                       4|           80|               0|                0|                    6|              3|             0|                 0|                      0|                   0|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
spark.sql("select * from emp where JobRole = 'Research Director'").show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|          JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 34|       No|    Travel_Rarely|      419|Research & Develo...|               7|        4|   Life Sciences|            1|            28|                      1|Female|        53|             3|       3|Research Director|              2|       Single|        11994|      21293|                 0|     Y|      No|               11|                3|                       3|           80|               0|               13|                    4|              3|            12|                 6|                      2|                  11|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 33|       No|Travel_Frequently|      515|Research & Develo...|               1|        2|   Life Sciences|            1|            73|                      1|Female|        98|             3|       3|Research Director|              4|       Single|        13458|      15146|                 1|     Y|     Yes|               12|                3|                       3|           80|               0|               15|                    1|              3|            15|                14|                      8|                  12|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 45|       No|    Travel_Rarely|      193|Research & Develo...|               6|        4|           Other|            1|           101|                      4|  Male|        52|             3|       3|Research Director|              1|      Married|        13245|      15067|                 4|     Y|     Yes|               14|                3|                       2|           80|               0|               17|                    3|              4|             0|                 0|                      0|                   0|
| 37|       No|    Travel_Rarely|      397|Research & Develo...|               7|        4|         Medical|            1|           102|                      1|  Male|        30|             3|       3|Research Director|              3|       Single|        13664|      25258|                 4|     Y|      No|               13|                3|                       1|           80|               0|               16|                    3|              4|             5|                 2|                      0|                   2|
| 54|       No|    Travel_Rarely|     1217|Research & Develo...|               2|        4|Technical Degree|            1|           126|                      1|Female|        60|             3|       3|Research Director|              3|      Married|        13549|      24001|                 9|     Y|      No|               12|                3|                       1|           80|               1|               16|                    5|              1|             4|                 3|                      0|                   3|
| 50|       No|Travel_Frequently|     1115|Research & Develo...|               1|        3|   Life Sciences|            1|           141|                      1|Female|        73|             3|       5|Research Director|              2|      Married|        18172|       9755|                 3|     Y|     Yes|               19|                3|                       1|           80|               0|               28|                    1|              2|             8|                 3|                      0|                   7|
| 51|       No|    Travel_Rarely|      684|Research & Develo...|               6|        3|   Life Sciences|            1|           162|                      1|  Male|        51|             3|       5|Research Director|              3|       Single|        19537|       6462|                 7|     Y|      No|               13|                3|                       3|           80|               0|               23|                    5|              3|            20|                18|                     15|                  15|
| 55|       No|    Travel_Rarely|      692|Research & Develo...|              14|        4|         Medical|            1|           254|                      3|  Male|        61|             4|       5|Research Director|              2|       Single|        18722|      13339|                 8|     Y|      No|               11|                3|                       4|           80|               0|               36|                    3|              3|            24|                15|                      2|                  15|
| 51|       No|    Travel_Rarely|     1469|Research & Develo...|               8|        4|   Life Sciences|            1|           296|                      2|  Male|        81|             2|       3|Research Director|              2|      Married|        12490|      15736|                 5|     Y|      No|               16|                3|                       4|           80|               2|               16|                    5|              1|            10|                 9|                      4|                   7|
| 37|       No|Travel_Frequently|      663|Research & Develo...|              11|        3|           Other|            1|           306|                      2|  Male|        47|             3|       3|Research Director|              4|     Divorced|        12185|      10056|                 1|     Y|     Yes|               14|                3|                       3|           80|               3|               10|                    1|              3|            10|                 8|                      0|                   7|
| 31|       No|Travel_Frequently|     1327|Research & Develo...|               3|        4|         Medical|            1|           337|                      2|  Male|        73|             3|       3|Research Director|              3|     Divorced|        13675|      13523|                 9|     Y|      No|               12|                3|                       1|           80|               1|                9|                    3|              3|             2|                 2|                      2|                   2|
| 40|       No|    Travel_Rarely|     1416|Research & Develo...|               2|        2|         Medical|            1|           352|                      1|  Male|        49|             3|       5|Research Director|              3|     Divorced|        19436|       5949|                 0|     Y|      No|               19|                3|                       4|           80|               1|               22|                    5|              3|            21|                 7|                      3|                   9|
| 37|       No|       Non-Travel|      728|Research & Develo...|               1|        4|         Medical|            1|           380|                      1|Female|        80|             3|       3|Research Director|              4|     Divorced|        13603|      11677|                 2|     Y|     Yes|               18|                3|                       1|           80|               2|               15|                    2|              3|             5|                 2|                      0|                   2|
| 50|       No|    Travel_Rarely|      797|Research & Develo...|               4|        1|   Life Sciences|            1|           385|                      1|  Male|        96|             3|       5|Research Director|              2|     Divorced|        19144|      15815|                 3|     Y|      No|               14|                3|                       1|           80|               2|               28|                    4|              2|            10|                 4|                      1|                   6|
| 53|       No|    Travel_Rarely|     1070|Research & Develo...|               3|        4|         Medical|            1|           386|                      3|  Male|        45|             3|       4|Research Director|              3|      Married|        17584|      21016|                 3|     Y|     Yes|               16|                3|                       4|           80|               3|               21|                    5|              2|             5|                 3|                      1|                   3|
| 49|       No|Travel_Frequently|      636|Research & Develo...|              10|        4|   Life Sciences|            1|           396|                      3|Female|        35|             3|       5|Research Director|              1|       Single|        18665|      25594|                 9|     Y|     Yes|               11|                3|                       4|           80|               0|               22|                    4|              3|             3|                 2|                      1|                   2|
| 38|       No|    Travel_Rarely|      849|Research & Develo...|              25|        2|   Life Sciences|            1|           421|                      1|Female|        81|             2|       3|Research Director|              2|      Married|        12061|      26707|                 3|     Y|      No|               17|                3|                       3|           80|               1|               19|                    2|              3|            10|                 8|                      0|                   1|
| 47|       No|    Travel_Rarely|     1482|Research & Develo...|               5|        5|   Life Sciences|            1|           447|                      4|  Male|        42|             3|       5|Research Director|              3|      Married|        18300|      16375|                 4|     Y|      No|               11|                3|                       2|           80|               1|               21|                    2|              3|             3|                 2|                      1|                   1|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
df.where(df.JobRole.contains("Research Director")).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|          JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 34|       No|    Travel_Rarely|      419|Research & Develo...|               7|        4|   Life Sciences|            1|            28|                      1|Female|        53|             3|       3|Research Director|              2|       Single|        11994|      21293|                 0|     Y|      No|               11|                3|                       3|           80|               0|               13|                    4|              3|            12|                 6|                      2|                  11|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 33|       No|Travel_Frequently|      515|Research & Develo...|               1|        2|   Life Sciences|            1|            73|                      1|Female|        98|             3|       3|Research Director|              4|       Single|        13458|      15146|                 1|     Y|     Yes|               12|                3|                       3|           80|               0|               15|                    1|              3|            15|                14|                      8|                  12|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 45|       No|    Travel_Rarely|      193|Research & Develo...|               6|        4|           Other|            1|           101|                      4|  Male|        52|             3|       3|Research Director|              1|      Married|        13245|      15067|                 4|     Y|     Yes|               14|                3|                       2|           80|               0|               17|                    3|              4|             0|                 0|                      0|                   0|
| 37|       No|    Travel_Rarely|      397|Research & Develo...|               7|        4|         Medical|            1|           102|                      1|  Male|        30|             3|       3|Research Director|              3|       Single|        13664|      25258|                 4|     Y|      No|               13|                3|                       1|           80|               0|               16|                    3|              4|             5|                 2|                      0|                   2|
| 54|       No|    Travel_Rarely|     1217|Research & Develo...|               2|        4|Technical Degree|            1|           126|                      1|Female|        60|             3|       3|Research Director|              3|      Married|        13549|      24001|                 9|     Y|      No|               12|                3|                       1|           80|               1|               16|                    5|              1|             4|                 3|                      0|                   3|
| 50|       No|Travel_Frequently|     1115|Research & Develo...|               1|        3|   Life Sciences|            1|           141|                      1|Female|        73|             3|       5|Research Director|              2|      Married|        18172|       9755|                 3|     Y|     Yes|               19|                3|                       1|           80|               0|               28|                    1|              2|             8|                 3|                      0|                   7|
| 51|       No|    Travel_Rarely|      684|Research & Develo...|               6|        3|   Life Sciences|            1|           162|                      1|  Male|        51|             3|       5|Research Director|              3|       Single|        19537|       6462|                 7|     Y|      No|               13|                3|                       3|           80|               0|               23|                    5|              3|            20|                18|                     15|                  15|
| 55|       No|    Travel_Rarely|      692|Research & Develo...|              14|        4|         Medical|            1|           254|                      3|  Male|        61|             4|       5|Research Director|              2|       Single|        18722|      13339|                 8|     Y|      No|               11|                3|                       4|           80|               0|               36|                    3|              3|            24|                15|                      2|                  15|
| 51|       No|    Travel_Rarely|     1469|Research & Develo...|               8|        4|   Life Sciences|            1|           296|                      2|  Male|        81|             2|       3|Research Director|              2|      Married|        12490|      15736|                 5|     Y|      No|               16|                3|                       4|           80|               2|               16|                    5|              1|            10|                 9|                      4|                   7|
| 37|       No|Travel_Frequently|      663|Research & Develo...|              11|        3|           Other|            1|           306|                      2|  Male|        47|             3|       3|Research Director|              4|     Divorced|        12185|      10056|                 1|     Y|     Yes|               14|                3|                       3|           80|               3|               10|                    1|              3|            10|                 8|                      0|                   7|
| 31|       No|Travel_Frequently|     1327|Research & Develo...|               3|        4|         Medical|            1|           337|                      2|  Male|        73|             3|       3|Research Director|              3|     Divorced|        13675|      13523|                 9|     Y|      No|               12|                3|                       1|           80|               1|                9|                    3|              3|             2|                 2|                      2|                   2|
| 40|       No|    Travel_Rarely|     1416|Research & Develo...|               2|        2|         Medical|            1|           352|                      1|  Male|        49|             3|       5|Research Director|              3|     Divorced|        19436|       5949|                 0|     Y|      No|               19|                3|                       4|           80|               1|               22|                    5|              3|            21|                 7|                      3|                   9|
| 37|       No|       Non-Travel|      728|Research & Develo...|               1|        4|         Medical|            1|           380|                      1|Female|        80|             3|       3|Research Director|              4|     Divorced|        13603|      11677|                 2|     Y|     Yes|               18|                3|                       1|           80|               2|               15|                    2|              3|             5|                 2|                      0|                   2|
| 50|       No|    Travel_Rarely|      797|Research & Develo...|               4|        1|   Life Sciences|            1|           385|                      1|  Male|        96|             3|       5|Research Director|              2|     Divorced|        19144|      15815|                 3|     Y|      No|               14|                3|                       1|           80|               2|               28|                    4|              2|            10|                 4|                      1|                   6|
| 53|       No|    Travel_Rarely|     1070|Research & Develo...|               3|        4|         Medical|            1|           386|                      3|  Male|        45|             3|       4|Research Director|              3|      Married|        17584|      21016|                 3|     Y|     Yes|               16|                3|                       4|           80|               3|               21|                    5|              2|             5|                 3|                      1|                   3|
| 49|       No|Travel_Frequently|      636|Research & Develo...|              10|        4|   Life Sciences|            1|           396|                      3|Female|        35|             3|       5|Research Director|              1|       Single|        18665|      25594|                 9|     Y|     Yes|               11|                3|                       4|           80|               0|               22|                    4|              3|             3|                 2|                      1|                   2|
| 38|       No|    Travel_Rarely|      849|Research & Develo...|              25|        2|   Life Sciences|            1|           421|                      1|Female|        81|             2|       3|Research Director|              2|      Married|        12061|      26707|                 3|     Y|      No|               17|                3|                       3|           80|               1|               19|                    2|              3|            10|                 8|                      0|                   1|
| 47|       No|    Travel_Rarely|     1482|Research & Develo...|               5|        5|   Life Sciences|            1|           447|                      4|  Male|        42|             3|       5|Research Director|              3|      Married|        18300|      16375|                 4|     Y|      No|               11|                3|                       2|           80|               1|               21|                    2|              3|             3|                 2|                      1|                   1|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
df.where(df.JobRole.contains("Research Director"),df.Age > 40).show()

AttributeError: ignored

The where method in PySpark expects a single condition, not two separate conditions. To apply multiple conditions, you need to combine them using the & operator (AND) within a single expression.

In [ ]:
df.where((col("JobRole").contains("Research Director")) & (col("Age") > 40)).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|          JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 45|       No|    Travel_Rarely|      193|Research & Develo...|               6|        4|           Other|            1|           101|                      4|  Male|        52|             3|       3|Research Director|              1|      Married|        13245|      15067|                 4|     Y|     Yes|               14|                3|                       2|           80|               0|               17|                    3|              4|             0|                 0|                      0|                   0|
| 54|       No|    Travel_Rarely|     1217|Research & Develo...|               2|        4|Technical Degree|            1|           126|                      1|Female|        60|             3|       3|Research Director|              3|      Married|        13549|      24001|                 9|     Y|      No|               12|                3|                       1|           80|               1|               16|                    5|              1|             4|                 3|                      0|                   3|
| 50|       No|Travel_Frequently|     1115|Research & Develo...|               1|        3|   Life Sciences|            1|           141|                      1|Female|        73|             3|       5|Research Director|              2|      Married|        18172|       9755|                 3|     Y|     Yes|               19|                3|                       1|           80|               0|               28|                    1|              2|             8|                 3|                      0|                   7|
| 51|       No|    Travel_Rarely|      684|Research & Develo...|               6|        3|   Life Sciences|            1|           162|                      1|  Male|        51|             3|       5|Research Director|              3|       Single|        19537|       6462|                 7|     Y|      No|               13|                3|                       3|           80|               0|               23|                    5|              3|            20|                18|                     15|                  15|
| 55|       No|    Travel_Rarely|      692|Research & Develo...|              14|        4|         Medical|            1|           254|                      3|  Male|        61|             4|       5|Research Director|              2|       Single|        18722|      13339|                 8|     Y|      No|               11|                3|                       4|           80|               0|               36|                    3|              3|            24|                15|                      2|                  15|
| 51|       No|    Travel_Rarely|     1469|Research & Develo...|               8|        4|   Life Sciences|            1|           296|                      2|  Male|        81|             2|       3|Research Director|              2|      Married|        12490|      15736|                 5|     Y|      No|               16|                3|                       4|           80|               2|               16|                    5|              1|            10|                 9|                      4|                   7|
| 50|       No|    Travel_Rarely|      797|Research & Develo...|               4|        1|   Life Sciences|            1|           385|                      1|  Male|        96|             3|       5|Research Director|              2|     Divorced|        19144|      15815|                 3|     Y|      No|               14|                3|                       1|           80|               2|               28|                    4|              2|            10|                 4|                      1|                   6|
| 53|       No|    Travel_Rarely|     1070|Research & Develo...|               3|        4|         Medical|            1|           386|                      3|  Male|        45|             3|       4|Research Director|              3|      Married|        17584|      21016|                 3|     Y|     Yes|               16|                3|                       4|           80|               3|               21|                    5|              2|             5|                 3|                      1|                   3|
| 49|       No|Travel_Frequently|      636|Research & Develo...|              10|        4|   Life Sciences|            1|           396|                      3|Female|        35|             3|       5|Research Director|              1|       Single|        18665|      25594|                 9|     Y|     Yes|               11|                3|                       4|           80|               0|               22|                    4|              3|             3|                 2|                      1|                   2|
| 47|       No|    Travel_Rarely|     1482|Research & Develo...|               5|        5|   Life Sciences|            1|           447|                      4|  Male|        42|             3|       5|Research Director|              3|      Married|        18300|      16375|                 4|     Y|      No|               11|                3|                       2|           80|               1|               21|                    2|              3|             3|                 2|                      1|                   1|
| 42|       No|    Travel_Rarely|      810|Research & Develo...|              23|        5|   Life Sciences|            1|           468|                      1|Female|        44|             3|       4|Research Director|              4|       Single|        15992|      15901|                 2|     Y|      No|               14|                3|                       2|           80|               0|               16|                    2|              3|             1|                 0|                      0|                   0|
| 43|       No|    Travel_Rarely|      982|Research & Develo...|              12|        3|   Life Sciences|            1|           520|                      1|  Male|        59|             2|       4|Research Director|              2|     Divorced|        14336|       4345|                 1|     Y|      No|               11|                3|                       3|           80|               1|               25|                    3|              3|            25|                10|                      3|                   9|
| 54|       No|    Travel_Rarely|      821|Research & Develo...|               5|        2|         Medical|            1|           522|                      1|  Male|        86|             3|       5|Research Director|              1|      Married|        19406|       8509|                 4|     Y|      No|               11|                3|                       3|           80|               1|               24|                    4|              2|             4|                 2|                      1|                   2|
| 46|       No|    Travel_Rarely|     1009|Research & Develo...|               2|        3|   Life Sciences|            1|           575|                      1|  Male|        51|             3|       4|Research Director|              3|      Married|        17861|       2288|                 6|     Y|      No|               13|                3|                       3|           80|               0|               26|                    2|              1|             3|                 2|                      0|                   1|
| 49|       No|    Travel_Rarely|     1245|Research & Develo...|              18|        4|   Life Sciences|            1|           638|                      4|  Male|        58|             2|       5|Research Director|              3|     Divorced|        19502|       2125|                 1|     Y|     Yes|               17|                3|                       3|           80|               1|               31|                    5|              3|            31|                 9|                      0|                   9|
| 43|       No|    Travel_Rarely|      782|Research & Develo...|               6|        4|           Other|            1|           661|                      2|  Male|        50|             2|       4|Research Director|              4|     Divorced|        16627|       2671|                 4|     Y|     Yes|               14|                3|                       3|           80|               1|               21|                    3|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|      970|Research & Develo...|               7|        3|   Life Sciences|            1|           730|                      3|  Male|        59|             4|       4|Research Director|              3|      Married|        14814|      13514|                 3|     Y|      No|               19|                3|                       3|           80|               0|               32|                    3|              3|             5|                 1|                      1|                   3|
| 50|       No|    Travel_Rarely|      691|Research & Develo...|               2|        3|         Medical|            1|           815|                      3|  Male|        64|             3|       4|Research Director|              3|      Married|        17639|       6881|                 5|     Y|      No|               16|                3|                       4|           80|               0|               30|                    3|              3|             4|                 3|                      0|                   3|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-----------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [20]:
df.select(df.JobRole.substr(1,16)).show()

+-------------------------+
|substring(JobRole, 1, 16)|
+-------------------------+
|          Sales Executive|
|         Research Scienti|
|         Laboratory Techn|
|         Research Scienti|
|         Laboratory Techn|
|         Laboratory Techn|
|         Laboratory Techn|
|         Laboratory Techn|
|         Manufacturing Di|
|         Healthcare Repre|
|         Laboratory Techn|
|         Laboratory Techn|
|         Research Scienti|
|         Laboratory Techn|
|         Laboratory Techn|
|         Manufacturing Di|
|         Research Scienti|
|         Laboratory Techn|
|                  Manager|
|         Research Scienti|
+-------------------------+
only showing top 20 rows

In [26]:
columns= ["Age","JobRole"]


for c in columns:
  df= df.withColumn("Emp_"+ c,col(c))
  df= df.drop(c)

df.show()

+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------+--------------------+
|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|Emp_Age|         Emp_JobRole|
+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------+--------------------+
|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|     41|     Sales Executive|
|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|     49|  Research Scientist|
|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|     37|Laboratory Techni...|
|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|     33|  Research Scientist|
|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|     27|Laboratory Techni...|
|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|     32|Laboratory Techni...|
|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|     59|Laboratory Techni...|
|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|     30|Laboratory Techni...|
|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|     38|Manufacturing Dir...|
|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|     36|Healthcare Repres...|
|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|     35|Laboratory Techni...|
|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|     29|Laboratory Techni...|
|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|     31|  Research Scientist|
|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|     34|Laboratory Techni...|
|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|     28|Laboratory Techni...|
|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|     29|Manufacturing Dir...|
|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|     32|  Research Scientist|
|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|     22|Laboratory Techni...|
|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|     53|             Manager|
|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|     38|  Research Scientist|
+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [31]:
df.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [77]:
df1=df.where((col("JobRole").contains("Research Director")) & (col("Age") > 40)).select(avg(col("DailyRate")).alias("AvgDailyRate")).collect()[0][0]

In [82]:
df1

869.4716981132076

In [69]:
df.groupBy("JobRole").agg(count("*").alias("count_role")).select("count_role").show()

+----------+
|count_role|
+----------+
|       326|
|       145|
|       259|
|        83|
|       131|
|       292|
|       102|
|        80|
|        52|
+----------+

In [83]:
spark.sql("select count(*)as count_role from emp group by JobRole").show()

+----------+
|count_role|
+----------+
|       326|
|       145|
|       259|
|        83|
|       131|
|       292|
|       102|
|        80|
|        52|
+----------+

In [87]:
 spark.sql("select jobrole,case when JobRole = 'Sales Executive' then 'SE' when JobRole = 'Research Scientist' then 'RS' else JobRole end as JobRole_New from emp").show()

+--------------------+--------------------+
|             jobrole|         JobRole_New|
+--------------------+--------------------+
|     Sales Executive|                  SE|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Manufacturing Dir...|Manufacturing Dir...|
|Healthcare Repres...|Healthcare Repres...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Manufacturing Dir...|Manufacturing Dir...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|             Manager|             Manager|
|  Research Scientist|                  RS|
+--------------------+--------------------+
only showing top 20 rows

In [88]:
df.select(col("JobRole"),when(col("JobRole")=="Sales Executive","SE").when(col("JobRole")=="Research Scientist","RS").otherwise(col("JobRole")).alias("JobROle_New")).show()

+--------------------+--------------------+
|             JobRole|         JobROle_New|
+--------------------+--------------------+
|     Sales Executive|                  SE|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Manufacturing Dir...|Manufacturing Dir...|
|Healthcare Repres...|Healthcare Repres...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Manufacturing Dir...|Manufacturing Dir...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|             Manager|             Manager|
|  Research Scientist|                  RS|
+--------------------+--------------------+
only showing top 20 rows

In [89]:
df.select(col("JobRole"),when(col("JobRole")=="Sales Executive","SE")\
          .when(col("JobRole")=="Research Scientist","RS")\
          .otherwise(col("JobRole")).alias("JobROle_New")).show()

+--------------------+--------------------+
|             JobRole|         JobROle_New|
+--------------------+--------------------+
|     Sales Executive|                  SE|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Manufacturing Dir...|Manufacturing Dir...|
|Healthcare Repres...|Healthcare Repres...|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|Laboratory Techni...|Laboratory Techni...|
|Manufacturing Dir...|Manufacturing Dir...|
|  Research Scientist|                  RS|
|Laboratory Techni...|Laboratory Techni...|
|             Manager|             Manager|
|  Research Scientist|                  RS|
+--------------------+--------------------+
only showing top 20 rows