In [8]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [9]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [10]:
spark=SparkSession.builder.appName("Test").getOrCreate()

In [11]:
df= spark.read.csv("/content/EmpStatus.csv",header=True,inferSchema=True)
df.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [9]:
df.summary().show()

+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|summary|               Age|Attrition|BusinessTravel|         DailyRate|     Department|DistanceFromHome|         Education|  EducationField|EmployeeCount|   EmployeeNumber|EnvironmentSatisfaction|Gender|        HourlyRate|    JobInvolvement|          JobLevel|             JobRole|   JobSatisfaction|MaritalStatus|    MonthlyIncome|       MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike|  PerformanceRating|RelationshipSatisfaction|StandardHours|  StockOptionLevel| TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|    YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|  count|              1470|     1470|          1470|              1470|           1470|            1470|              1470|            1470|         1470|             1470|                   1470|  1470|              1470|              1470|              1470|                1470|              1470|         1470|             1470|              1470|              1470|  1470|    1470|              1470|               1470|                    1470|         1470|              1470|              1470|                 1470|              1470|              1470|              1470|                   1470|                1470|
|   mean|36.923809523809524|     NULL|          NULL| 802.4857142857143|           NULL|9.19251700680272| 2.912925170068027|            NULL|          1.0|1024.865306122449|      2.721768707482993|  NULL| 65.89115646258503|2.7299319727891156|2.0639455782312925|                NULL|2.7285714285714286|         NULL|6502.931292517007|14313.103401360544|2.6931972789115646|  NULL|    NULL|15.209523809523809| 3.1537414965986397|      2.7122448979591836|         80.0|0.7938775510204081|11.279591836734694|   2.7993197278911564|2.7612244897959184|7.0081632653061225| 4.229251700680272|     2.1877551020408164|    4.12312925170068|
| stddev| 9.135373489136729|     NULL|          NULL|403.50909994352804|           NULL|8.10686443566608|1.0241649445978718|            NULL|          0.0|602.0243348474752|     1.0930822146350003|  NULL|20.329427593996176|0.7115611429632297|1.1069398989351202|                NULL|1.1028461230547213|         NULL|4707.956783097992| 7117.786044059972|2.4980090060707463|  NULL|    NULL|3.6599377165396385|0.36082352460434397|      1.0812088864403517|          0.0|0.8520766679308381| 7.780781675514995|   1.2892706207958466|0.7064758297141507| 6.126525152403571| 3.623137034670627|     3.2224302791379693|  3.5681361205404363|
|    min|                18|       No|    Non-Travel|               102|Human Resources|               1|                 1| Human Resources|            1|                1|                      1|Female|                30|                 1|                 1|Healthcare Repres...|                 1|     Divorced|             1009|              2094|                 0|     Y|      No|                11|                  3|                       1|           80|                 0|                 0|                    0|                 1|                 0|                 0|                      0|                   0|
|    25%|                30|     NULL|          NULL|               465|           NULL|               2|                 2|            NULL|            1|              491|                      2|  NULL|                48|                 2|                 1|                NULL|                 2|         NULL|             2911|              8045|                 1|  NULL|    NULL|                12|                  3|                       2|           80|                 0|                 6|                    2|                 2|                 3|                 2|                      0|                   2|
|    50%|                36|     NULL|          NULL|               802|           NULL|               7|                 3|            NULL|            1|             1019|                      3|  NULL|                66|                 3|                 2|                NULL|                 3|         NULL|             4908|             14229|                 2|  NULL|    NULL|                14|                  3|                       3|           80|                 1|                10|                    3|                 3|                 5|                 3|                      1|                   3|
|    75%|                43|     NULL|          NULL|              1157|           NULL|              14|                 4|            NULL|            1|             1556|                      4|  NULL|                84|                 3|                 3|                NULL|                 4|         NULL|             8380|             20462|                 4|  NULL|    NULL|                18|                  3|                       4|           80|                 1|                15|                    3|                 3|                 9|                 7|                      3|                   7|
|    max|                60|      Yes| Travel_Rarely|              1499|          Sales|              29|                 5|Technical Degree|            1|             2068|                      4|  Male|               100|                 4|                 5|Sales Representative|                 4|       Single|            19999|             26999|                 9|     Y|     Yes|                25|                  4|                       4|           80|                 3|                40|                    6|                 4|                40|                18|                     15|                  17|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+

In [11]:
df.select(df.Age,df.DailyRate,df.MonthlyIncome).summary().show()

+-------+------------------+------------------+-----------------+
|summary|               Age|         DailyRate|    MonthlyIncome|
+-------+------------------+------------------+-----------------+
|  count|              1470|              1470|             1470|
|   mean|36.923809523809524| 802.4857142857143|6502.931292517007|
| stddev| 9.135373489136729|403.50909994352804|4707.956783097992|
|    min|                18|               102|             1009|
|    25%|                30|               465|             2911|
|    50%|                36|               802|             4908|
|    75%|                43|              1157|             8380|
|    max|                60|              1499|            19999|
+-------+------------------+------------------+-----------------+

In [12]:
df.select(avg(df.MonthlyIncome)).show()

+------------------+
|avg(MonthlyIncome)|
+------------------+
| 6502.931292517007|
+------------------+

In [14]:
df.select(round(avg(df.MonthlyIncome),2).alias("AvgMonthlyIncome")).show()

+----------------+
|AvgMonthlyIncome|
+----------------+
|         6502.93|
+----------------+

In [15]:
df.select(round(avg(df.MonthlyIncome),2).alias("AvgMonthlyIncome"),max(df.MonthlyIncome),min(df.MonthlyIncome)).show()

+----------------+------------------+------------------+
|AvgMonthlyIncome|max(MonthlyIncome)|min(MonthlyIncome)|
+----------------+------------------+------------------+
|         6502.93|             19999|              1009|
+----------------+------------------+------------------+

In [16]:
df.select(sum(df.MonthlyIncome),sumDistinct(df.MonthlyIncome)).show()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/functions.py:988: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+------------------+---------------------------+
|sum(MonthlyIncome)|sum(DISTINCT MonthlyIncome)|
+------------------+---------------------------+
|           9559309|                    9057813|
+------------------+---------------------------+

In [18]:
df.select(count(df.Age),countDistinct(df.Age)).show()

+----------+-------------------+
|count(Age)|count(DISTINCT Age)|
+----------+-------------------+
|      1470|                 43|
+----------+-------------------+

In [19]:
df.sort(df.MonthlyIncome.asc()).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 20|      Yes|    Travel_Rarely|     1362|Research & Develo...|              10|        1|         Medical|            1|           701|                      4|  Male|        32|             3|       1|  Research Scientist|              3|       Single|         1009|      26999|                 1|     Y|     Yes|               11|                3|                       4|           80|               0|                1|                    5|              3|             1|                 0|                      1|                   1|
| 18|       No|       Non-Travel|      287|Research & Develo...|               5|        2|   Life Sciences|            1|          1012|                      2|  Male|        73|             3|       1|  Research Scientist|              4|       Single|         1051|      13493|                 1|     Y|      No|               15|                3|                       4|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|
| 28|       No|    Travel_Rarely|     1144|               Sales|              10|        1|         Medical|            1|          1056|                      4|  Male|        74|             3|       1|Sales Representative|              2|      Married|         1052|      23384|                 1|     Y|      No|               22|                4|                       2|           80|               0|                1|                    5|              3|             1|                 0|                      0|                   0|
| 30|      Yes|    Travel_Rarely|      945|               Sales|               9|        3|         Medical|            1|          1876|                      2|  Male|        89|             3|       1|Sales Representative|              4|       Single|         1081|      16019|                 1|     Y|      No|               13|                3|                       3|           80|               0|                1|                    3|              2|             1|                 0|                      0|                   0|
| 29|      Yes|Travel_Frequently|      746|               Sales|              24|        3|Technical Degree|            1|          1928|                      3|  Male|        45|             4|       1|Sales Representative|              1|       Single|         1091|      10642|                 1|     Y|      No|               17|                3|                       4|           80|               0|                1|                    3|              3|             1|                 0|                      0|                   0|
| 19|      Yes|    Travel_Rarely|      303|Research & Develo...|               2|        3|   Life Sciences|            1|           243|                      2|  Male|        47|             2|       1|Laboratory Techni...|              4|       Single|         1102|       9241|                 1|     Y|      No|               22|                4|                       3|           80|               0|                1|                    3|              2|             1|                 0|                      1|                   0|
| 25|      Yes|Travel_Frequently|      599|               Sales|              24|        1|   Life Sciences|            1|          1273|                      3|  Male|        73|             1|       1|Sales Representative|              4|       Single|         1118|       8040|                 1|     Y|     Yes|               14|                3|                       4|           80|               0|                1|                    4|              3|             1|                 0|                      1|                   0|
| 31|       No|    Travel_Rarely|     1276|Research & Develo...|               2|        1|         Medical|            1|          1974|                      4|Female|        59|             1|       1|Laboratory Techni...|              4|     Divorced|         1129|      17536|                 1|     Y|     Yes|               11|                3|                       3|           80|               3|                1|                    4|              3|             1|                 0|                      0|                   0|
| 18|       No|    Travel_Rarely|      812|               Sales|              10|        3|         Medical|            1|           411|                      4|Female|        69|             2|       1|Sales Representative|              3|       Single|         1200|       9724|                 1|     Y|      No|               12|                3|                       1|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|
| 23|       No|    Travel_Rarely|      373|Research & Develo...|               1|        2|   Life Sciences|            1|          1270|                      4|  Male|        47|             3|       1|  Research Scientist|              3|      Married|         1223|      16901|                 1|     Y|      No|               22|                4|                       4|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   1|
| 21|       No|    Travel_Rarely|      391|Research & Develo...|              15|        2|   Life Sciences|            1|            30|                      3|  Male|        96|             3|       1|  Research Scientist|              4|       Single|         1232|      19281|                 1|     Y|      No|               14|                3|                       4|           80|               0|                0|                    6|              3|             0|                 0|                      0|                   0|
| 31|      Yes|    Travel_Rarely|      202|Research & Develo...|               8|        3|   Life Sciences|            1|          1433|                      1|Female|        34|             2|       1|  Research Scientist|              2|       Single|         1261|      22262|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|
| 30|       No|       Non-Travel|      990|Research & Develo...|               7|        3|Technical Degree|            1|          1482|                      3|  Male|        64|             3|       1|  Research Scientist|              3|     Divorced|         1274|       7152|                 1|     Y|      No|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 35|       No|       Non-Travel|      727|Research & Develo...|               3|        3|   Life Sciences|            1|           704|                      3|  Male|        41|             2|       1|Laboratory Techni...|              3|      Married|         1281|      16900|                 1|     Y|      No|               18|                3|                       3|           80|               2|                1|                    3|              3|             1|                 0|                      0|                   0|
| 31|      Yes|Travel_Frequently|      667|               Sales|               1|        4|   Life Sciences|            1|          1427|                      2|Female|        50|             1|       1|Sales Representative|              3|       Single|         1359|      16154|                 1|     Y|      No|               12|                3|                       2|           80|               0|                1|                    3|              3|             1|                 0|                      0|                   0|
| 32|      Yes|    Travel_Rarely|     1259|Research & Develo...|               2|        4|   Life Sciences|            1|          1692|                      4|  Male|        95|             3|       1|Laboratory Techni...|              2|       Single|         1393|      24852|                 1|     Y|      No|               12|                3|                       1|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   0|
| 21|      Yes|    Travel_Rarely|     1334|Research & Develo...|              10|        3|   Life Sciences|            1|          1079|                      3|Female|        36|             2|       1|Laboratory Techni...|              1|       Single|         1416|      17258|                 1|     Y|      No|               13|                3|                       1|           80|               0|                1|                    6|              2|             1|                 0|                      1|                   0|
| 18|      Yes|    Travel_Rarely|      230|Research & Develo...|               3|        3|   Life Sciences|            1|           405|                      3|  Male|        54|             3|       1|Laboratory Techni...|              3|       Single|         1420|      25233|                 1|     Y|      No|               13|                3|                       3|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|
| 19|       No|    Travel_Rarely|     1181|Research & Develo...|               3|        1|         Medical|            1|           201|                      2|Female|        79|             3|       1|Laboratory Techni...|              2|       Single|         1483|      16102|                 1|     Y|      No|               14|                3|                       4|           80|               0|                1|                    3|              3|             1|                 0|                      0|                   0|
| 18|       No|       Non-Travel|     1431|Research & Develo...|              14|        3|         Medical|            1|          1839|                      2|Female|        33|             3|       1|  Research Scientist|              3|       Single|         1514|       8018|                 1|     Y|      No|               16|                3|                       3|           80|               0|                0|                    4|              1|             0|                 0|                      0|                   0|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [20]:
#First() function gives the first value in the given column
df.sort(df.MonthlyIncome.asc()).select(first(df.MonthlyIncome)).show()

+--------------------+
|first(MonthlyIncome)|
+--------------------+
|                1009|
+--------------------+

In [26]:
#Last() function gives the last value in the given column
df.sort(df.MonthlyIncome.asc()).select(last(df.MonthlyIncome)).show(truncate = False)

+-------------------+
|last(MonthlyIncome)|
+-------------------+
|19999              |
+-------------------+

In [27]:
df.select(collect_list(df.MonthlyIncome).alias("list"),collect_set(df.MonthlyIncome).alias("set")).show()

+--------------------+--------------------+
|                list|                 set|
+--------------------+--------------------+
|[5993, 5130, 2090...|[2207, 2644, 2157...|
+--------------------+--------------------+

In [12]:
df1=df.select(df.Age,df.Gender,df.JobRole,df.MonthlyIncome)
df1.show()

+---+------+--------------------+-------------+
|Age|Gender|             JobRole|MonthlyIncome|
+---+------+--------------------+-------------+
| 41|Female|     Sales Executive|         5993|
| 49|  Male|  Research Scientist|         5130|
| 37|  Male|Laboratory Techni...|         2090|
| 33|Female|  Research Scientist|         2909|
| 27|  Male|Laboratory Techni...|         3468|
| 32|  Male|Laboratory Techni...|         3068|
| 59|Female|Laboratory Techni...|         2670|
| 30|  Male|Laboratory Techni...|         2693|
| 38|  Male|Manufacturing Dir...|         9526|
| 36|  Male|Healthcare Repres...|         5237|
| 35|  Male|Laboratory Techni...|         2426|
| 29|Female|Laboratory Techni...|         4193|
| 31|  Male|  Research Scientist|         2911|
| 34|  Male|Laboratory Techni...|         2661|
| 28|  Male|Laboratory Techni...|         2028|
| 29|Female|Manufacturing Dir...|         9980|
| 32|  Male|  Research Scientist|         3298|
| 22|  Male|Laboratory Techni...|         2935|
| 53|Female|             Manager|        15427|
| 38|  Male|  Research Scientist|         3944|
+---+------+--------------------+-------------+
only showing top 20 rows

In [19]:
df1.groupBy(df1.JobRole).avg("MonthlyIncome").show()

+--------------------+------------------+
|             JobRole|avg(MonthlyIncome)|
+--------------------+------------------+
|     Sales Executive|6924.2791411042945|
|Manufacturing Dir...| 7295.137931034483|
|Laboratory Techni...| 3237.169884169884|
|Sales Representative|            2626.0|
|Healthcare Repres...| 7528.763358778626|
|  Research Scientist| 3239.972602739726|
|             Manager|17181.676470588234|
|   Research Director|          16033.55|
|     Human Resources|           4235.75|
+--------------------+------------------+

In [21]:
df1.groupBy(df1.JobRole).avg("MonthlyIncome").show()

+--------------------+------------------+
|             JobRole|avg(MonthlyIncome)|
+--------------------+------------------+
|     Sales Executive|6924.2791411042945|
|Manufacturing Dir...| 7295.137931034483|
|Laboratory Techni...| 3237.169884169884|
|Sales Representative|            2626.0|
|Healthcare Repres...| 7528.763358778626|
|  Research Scientist| 3239.972602739726|
|             Manager|17181.676470588234|
|   Research Director|          16033.55|
|     Human Resources|           4235.75|
+--------------------+------------------+

In [24]:
help(avg)

Help on function avg in module pyspark.sql.functions:

avg(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Aggregate function: returns the average of the values in a group.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column` or str
        target column to compute on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the column for computed results.

    Examples
    --------
    >>> df = spark.range(10)
    >>> df.select(avg(col("id"))).show()
    +-------+
    |avg(id)|
    +-------+
    |    4.5|
    +-------+

In [26]:
df1.groupBy(df1.Gender).sum("MonthlyIncome").show()

+------+------------------+
|Gender|sum(MonthlyIncome)|
+------+------------------+
|Female|           3931701|
|  Male|           5627608|
+------+------------------+

In [27]:
df1.groupBy(df1.JobRole,df1.Gender).min("MonthlyIncome","Age").show()

+--------------------+------+------------------+--------+
|             JobRole|Gender|min(MonthlyIncome)|min(Age)|
+--------------------+------+------------------+--------+
|     Sales Executive|  Male|              4001|      25|
|Healthcare Repres...|Female|              4014|      27|
|Manufacturing Dir...|  Male|              4033|      22|
|Healthcare Repres...|  Male|              4000|      24|
|   Research Director|Female|             11031|      29|
|Sales Representative|Female|              1200|      18|
|Laboratory Techni...|  Male|              1102|      18|
|   Research Director|  Male|             11510|      27|
|  Research Scientist|Female|              1261|      18|
|Sales Representative|  Male|              1052|      18|
|Manufacturing Dir...|Female|              4011|      22|
|     Human Resources|Female|              2109|      25|
|Laboratory Techni...|Female|              1129|      18|
|             Manager|Female|             11631|      30|
|  Research Scientist|  Male|              1009|      18|
|             Manager|  Male|             11244|      31|
|     Human Resources|  Male|              1555|      19|
|     Sales Executive|Female|              4028|      24|
+--------------------+------+------------------+--------+

In [28]:
#Using Agg( ) multiple aggregation is possible

In [30]:
df1.groupBy(df1.Gender).agg(min("MonthlyIncome"),max('MonthlyIncome'),avg("MonthlyIncome")).show()

+------+------------------+------------------+------------------+
|Gender|min(MonthlyIncome)|max(MonthlyIncome)|avg(MonthlyIncome)|
+------+------------------+------------------+------------------+
|Female|              1129|             19973| 6686.566326530612|
|  Male|              1009|             19999| 6380.507936507936|
+------+------------------+------------------+------------------+

In [32]:
#if we want to apply filter before grouping we use where() condition

In [38]:
df1.groupBy(df1.Gender).agg(min("MonthlyIncome").alias("MinSal"),max('MonthlyIncome'),avg("MonthlyIncome")).where(col("MinSal") > 0).show()

+------+------+------------------+------------------+
|Gender|MinSal|max(MonthlyIncome)|avg(MonthlyIncome)|
+------+------+------------------+------------------+
|Female|  1129|             19973| 6686.566326530612|
|  Male|  1009|             19999| 6380.507936507936|
+------+------+------------------+------------------+

In [39]:
df1.groupBy(df1.Gender).agg(min("MonthlyIncome").alias("MinSal"),max('MonthlyIncome'),avg("MonthlyIncome")).where(col("MinSal") > 1100).show()

+------+------+------------------+------------------+
|Gender|MinSal|max(MonthlyIncome)|avg(MonthlyIncome)|
+------+------+------------------+------------------+
|Female|  1129|             19973| 6686.566326530612|
+------+------+------------------+------------------+

In [36]:
df1.where((df1.Age < 35) & (df1.JobRole.isin("Manager","Research Scientist"))).groupBy(df1.Gender).agg(min("MonthlyIncome"),max('MonthlyIncome'),avg("MonthlyIncome")).show()

+------+------------------+------------------+------------------+
|Gender|min(MonthlyIncome)|max(MonthlyIncome)|avg(MonthlyIncome)|
+------+------------------+------------------+------------------+
|Female|              1261|             11916| 3499.173333333333|
|  Male|              1009|             17444| 3261.896226415094|
+------+------------------+------------------+------------------+

In [42]:
df2 = df1.select(df1.JobRole,df1.Gender,df1.MonthlyIncome)
df2.show()

+--------------------+------+-------------+
|             JobRole|Gender|MonthlyIncome|
+--------------------+------+-------------+
|     Sales Executive|Female|         5993|
|  Research Scientist|  Male|         5130|
|Laboratory Techni...|  Male|         2090|
|  Research Scientist|Female|         2909|
|Laboratory Techni...|  Male|         3468|
|Laboratory Techni...|  Male|         3068|
|Laboratory Techni...|Female|         2670|
|Laboratory Techni...|  Male|         2693|
|Manufacturing Dir...|  Male|         9526|
|Healthcare Repres...|  Male|         5237|
|Laboratory Techni...|  Male|         2426|
|Laboratory Techni...|Female|         4193|
|  Research Scientist|  Male|         2911|
|Laboratory Techni...|  Male|         2661|
|Laboratory Techni...|  Male|         2028|
|Manufacturing Dir...|Female|         9980|
|  Research Scientist|  Male|         3298|
|Laboratory Techni...|  Male|         2935|
|             Manager|Female|        15427|
|  Research Scientist|  Male|         3944|
+--------------------+------+-------------+
only showing top 20 rows

In [45]:
df2.groupBy(df2.JobRole,df2.Gender).sum("MonthlyIncome").alias("Salary").show()

+--------------------+------+------------------+
|             JobRole|Gender|sum(MonthlyIncome)|
+--------------------+------+------------------+
|     Sales Executive|  Male|           1364426|
|Healthcare Repres...|Female|            379124|
|Manufacturing Dir...|  Male|            524335|
|Healthcare Repres...|  Male|            607144|
|   Research Director|Female|            499768|
|Sales Representative|Female|            101534|
|Laboratory Techni...|  Male|            562440|
|   Research Director|  Male|            782916|
|  Research Scientist|Female|            381270|
|Sales Representative|  Male|            116424|
|Manufacturing Dir...|Female|            533460|
|     Human Resources|Female|             72651|
|Laboratory Techni...|Female|            275987|
|             Manager|Female|            795018|
|  Research Scientist|  Male|            564802|
|             Manager|  Male|            957513|
|     Human Resources|  Male|            147608|
|     Sales Executive|Female|            892889|
+--------------------+------+------------------+

In [53]:
#pivoting in pyspark

In [46]:
df3 = df2.groupBy(df2.JobRole,df2.Gender).sum("MonthlyIncome").alias("Salary")

In [47]:
df3.show()

+--------------------+------+------------------+
|             JobRole|Gender|sum(MonthlyIncome)|
+--------------------+------+------------------+
|     Sales Executive|  Male|           1364426|
|Healthcare Repres...|Female|            379124|
|Manufacturing Dir...|  Male|            524335|
|Healthcare Repres...|  Male|            607144|
|   Research Director|Female|            499768|
|Sales Representative|Female|            101534|
|Laboratory Techni...|  Male|            562440|
|   Research Director|  Male|            782916|
|  Research Scientist|Female|            381270|
|Sales Representative|  Male|            116424|
|Manufacturing Dir...|Female|            533460|
|     Human Resources|Female|             72651|
|Laboratory Techni...|Female|            275987|
|             Manager|Female|            795018|
|  Research Scientist|  Male|            564802|
|             Manager|  Male|            957513|
|     Human Resources|  Male|            147608|
|     Sales Executive|Female|            892889|
+--------------------+------+------------------+

In [51]:
df3.groupBy(df3.JobRole).pivot("Gender").sum("sum(MonthlyIncome)").show()

+--------------------+------+-------+
|             JobRole|Female|   Male|
+--------------------+------+-------+
|     Sales Executive|892889|1364426|
|Manufacturing Dir...|533460| 524335|
|Laboratory Techni...|275987| 562440|
|Sales Representative|101534| 116424|
|Healthcare Repres...|379124| 607144|
|  Research Scientist|381270| 564802|
|             Manager|795018| 957513|
|   Research Director|499768| 782916|
|     Human Resources| 72651| 147608|
+--------------------+------+-------+

In [54]:
#Pivoting in pysark

In [56]:
df4= df3.groupBy(df3.JobRole).pivot("Gender").sum("sum(MonthlyIncome)")
df4.show()

+--------------------+------+-------+
|             JobRole|Female|   Male|
+--------------------+------+-------+
|     Sales Executive|892889|1364426|
|Manufacturing Dir...|533460| 524335|
|Laboratory Techni...|275987| 562440|
|Sales Representative|101534| 116424|
|Healthcare Repres...|379124| 607144|
|  Research Scientist|381270| 564802|
|             Manager|795018| 957513|
|   Research Director|499768| 782916|
|     Human Resources| 72651| 147608|
+--------------------+------+-------+

In [58]:
df4.unpivot(df4.JobRole,["Female","Male"],"Gender","Salary").show()

+--------------------+------+-------+
|             JobRole|Gender| Salary|
+--------------------+------+-------+
|     Sales Executive|Female| 892889|
|     Sales Executive|  Male|1364426|
|Manufacturing Dir...|Female| 533460|
|Manufacturing Dir...|  Male| 524335|
|Laboratory Techni...|Female| 275987|
|Laboratory Techni...|  Male| 562440|
|Sales Representative|Female| 101534|
|Sales Representative|  Male| 116424|
|Healthcare Repres...|Female| 379124|
|Healthcare Repres...|  Male| 607144|
|  Research Scientist|Female| 381270|
|  Research Scientist|  Male| 564802|
|             Manager|Female| 795018|
|             Manager|  Male| 957513|
|   Research Director|Female| 499768|
|   Research Director|  Male| 782916|
|     Human Resources|Female|  72651|
|     Human Resources|  Male| 147608|
+--------------------+------+-------+