In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=80f93a64efd4705c052921d381919be9a21110edf0c54a87f4fbb4e2c18d2abc
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [6]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [7]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [10]:
df= spark.read.csv('/content/EmpStatus.csv',header= True, inferSchema= True)
df.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [12]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [15]:
df.select(df.EmployeeNumber).show()

+--------------+
|EmployeeNumber|
+--------------+
|             1|
|             2|
|             4|
|             5|
|             7|
|             8|
|            10|
|            11|
|            12|
|            13|
|            14|
|            15|
|            16|
|            18|
|            19|
|            20|
|            21|
|            22|
|            23|
|            24|
+--------------+
only showing top 20 rows

In [16]:
df.select(col('*')).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [21]:
df.select('Age','JobRole').show()

+---+--------------------+
|Age|             JobRole|
+---+--------------------+
| 41|     Sales Executive|
| 49|  Research Scientist|
| 37|Laboratory Techni...|
| 33|  Research Scientist|
| 27|Laboratory Techni...|
| 32|Laboratory Techni...|
| 59|Laboratory Techni...|
| 30|Laboratory Techni...|
| 38|Manufacturing Dir...|
| 36|Healthcare Repres...|
| 35|Laboratory Techni...|
| 29|Laboratory Techni...|
| 31|  Research Scientist|
| 34|Laboratory Techni...|
| 28|Laboratory Techni...|
| 29|Manufacturing Dir...|
| 32|  Research Scientist|
| 22|Laboratory Techni...|
| 53|             Manager|
| 38|  Research Scientist|
+---+--------------------+
only showing top 20 rows

In [22]:
#aliasing column
df.select(df.Age.alias("EmpAge")).show()

+------+
|EmpAge|
+------+
|    41|
|    49|
|    37|
|    33|
|    27|
|    32|
|    59|
|    30|
|    38|
|    36|
|    35|
|    29|
|    31|
|    34|
|    28|
|    29|
|    32|
|    22|
|    53|
|    38|
+------+
only showing top 20 rows

In [24]:
#order a column
df.orderBy(df.JobRole.asc()).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 45|       No|    Travel_Rarely|     1385|Research & Develo...|              20|        2|         Medical|            1|           372|                      3|  Male|        79|             3|       4|Healthcare Repres...|              4|      Married|        13496|       7501|                 0|     Y|     Yes|               14|                3|                       2|           80|               0|               21|                    2|              3|            20|                 7|                      4|                  10|
| 42|       No|    Travel_Rarely|      622|Research & Develo...|               2|        4|   Life Sciences|            1|           659|                      3|Female|        81|             3|       2|Healthcare Repres...|              4|      Married|         4089|       5718|                 1|     Y|      No|               13|                3|                       2|           80|               2|               10|                    4|              3|            10|                 2|                      2|                   2|
| 26|       No|Travel_Frequently|      496|Research & Develo...|              11|        2|         Medical|            1|           390|                      1|  Male|        60|             3|       2|Healthcare Repres...|              1|      Married|         4741|      22722|                 1|     Y|     Yes|               13|                3|                       3|           80|               1|                5|                    3|              3|             5|                 3|                      3|                   3|
| 25|       No|       Non-Travel|      675|Research & Develo...|               5|        2|   Life Sciences|            1|           369|                      2|  Male|        85|             4|       2|Healthcare Repres...|              1|     Divorced|         4000|      18384|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    2|              3|             6|                 3|                      1|                   5|
| 38|       No|    Travel_Rarely|      688|Research & Develo...|              23|        4|   Life Sciences|            1|           393|                      4|  Male|        82|             3|       2|Healthcare Repres...|              4|     Divorced|         5745|      18899|                 9|     Y|      No|               14|                3|                       2|           80|               1|               10|                    2|              3|             2|                 2|                      1|                   2|
| 58|      Yes|    Travel_Rarely|      147|Research & Develo...|              23|        4|         Medical|            1|           165|                      4|Female|        94|             3|       3|Healthcare Repres...|              4|      Married|        10312|       3465|                 1|     Y|      No|               12|                3|                       4|           80|               1|               40|                    3|              2|            40|                10|                     15|                   6|
| 28|       No|    Travel_Rarely|     1476|Research & Develo...|              16|        2|         Medical|            1|           412|                      2|  Male|        68|             4|       2|Healthcare Repres...|              1|       Single|         5661|       4824|                 0|     Y|      No|               19|                3|                       3|           80|               0|                9|                    2|              3|             8|                 3|                      0|                   7|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 39|       No|    Travel_Rarely|     1132|Research & Develo...|               1|        3|         Medical|            1|           417|                      3|  Male|        48|             4|       3|Healthcare Repres...|              4|     Divorced|         9613|      10942|                 0|     Y|      No|               17|                3|                       1|           80|               3|               19|                    5|              2|            18|                10|                      3|                   7|
| 40|       No|Travel_Frequently|      530|Research & Develo...|               1|        4|   Life Sciences|            1|           119|                      3|  Male|        78|             2|       4|Healthcare Repres...|              2|      Married|        13503|      14115|                 1|     Y|      No|               22|                4|                       4|           80|               1|               22|                    3|              2|            22|                 3|                     11|                  11|
| 58|       No|       Non-Travel|      390|Research & Develo...|               1|        4|   Life Sciences|            1|           422|                      4|  Male|        32|             1|       2|Healthcare Repres...|              3|     Divorced|         5660|      17056|                 2|     Y|     Yes|               13|                3|                       4|           80|               1|               12|                    2|              3|             5|                 3|                      1|                   2|
| 37|       No|       Non-Travel|     1040|Research & Develo...|               2|        2|   Life Sciences|            1|           139|                      3|  Male|       100|             2|       2|Healthcare Repres...|              4|     Divorced|         5163|      15850|                 5|     Y|      No|               14|                3|                       4|           80|               1|               17|                    2|              4|             1|                 0|                      0|                   0|
| 49|       No|    Travel_Rarely|     1091|Research & Develo...|               1|        2|Technical Degree|            1|           431|                      3|Female|        90|             2|       4|Healthcare Repres...|              3|       Single|        13964|      17810|                 7|     Y|     Yes|               12|                3|                       4|           80|               0|               25|                    2|              3|             7|                 1|                      0|                   7|
| 31|       No|    Travel_Rarely|     1463|Research & Develo...|              23|        3|         Medical|            1|           367|                      2|  Male|        64|             2|       2|Healthcare Repres...|              4|      Married|         5582|      14408|                 0|     Y|      No|               21|                4|                       2|           80|               1|               10|                    2|              3|             9|                 0|                      7|                   8|
| 43|       No|    Travel_Rarely|     1001|Research & Develo...|               7|        3|   Life Sciences|            1|           451|                      3|Female|        43|             3|       3|Healthcare Repres...|              1|      Married|         9985|       9262|                 8|     Y|      No|               16|                3|                       1|           80|               1|               10|                    1|              2|             1|                 0|                      0|                   0|
| 57|       No|    Travel_Rarely|      334|Research & Develo...|              24|        2|   Life Sciences|            1|           223|                      3|  Male|        83|             4|       3|Healthcare Repres...|              4|     Divorced|         9439|      23402|                 3|     Y|     Yes|               16|                3|                       2|           80|               1|               12|                    2|              1|             5|                 3|                      1|                   4|
| 42|       No|    Travel_Rarely|     1332|Research & Develo...|               2|        4|           Other|            1|           477|                      1|  Male|        98|             2|       2|Healthcare Repres...|              4|       Single|         6781|      17078|                 3|     Y|      No|               23|                4|                       2|           80|               0|               14|                    6|              3|             1|                 0|                      0|                   0|
| 38|      Yes|    Travel_Rarely|     1180|Research & Develo...|              29|        1|         Medical|            1|           282|                      2|  Male|        70|             3|       2|Healthcare Repres...|              1|      Married|         6673|      11354|                 7|     Y|     Yes|               19|                3|                       2|           80|               0|               17|                    2|              3|             1|                 0|                      0|                   0|
| 57|       No|    Travel_Rarely|      593|Research & Develo...|               1|        4|         Medical|            1|           482|                      4|  Male|        88|             3|       2|Healthcare Repres...|              3|      Married|         6755|       2967|                 2|     Y|      No|               11|                3|                       3|           80|               0|               15|                    2|              3|             3|                 2|                      1|                   2|
| 46|       No|    Travel_Rarely|      644|Research & Develo...|               1|        4|         Medical|            1|           288|                      4|  Male|        97|             3|       3|Healthcare Repres...|              1|     Divorced|         9396|      12368|                 7|     Y|      No|               16|                3|                       3|           80|               1|               17|                    3|              3|             4|                 2|                      0|                   3|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [31]:
df.select(df.JobRole).orderBy(df.JobRole.asc()).show()

+--------------------+
|             JobRole|
+--------------------+
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
|Healthcare Repres...|
+--------------------+
only showing top 20 rows

In [28]:
#distinct in column
df.select(df.JobRole).orderBy(df.JobRole.asc()).distinct().show()

+--------------------+
|             JobRole|
+--------------------+
|     Sales Executive|
|Manufacturing Dir...|
|Laboratory Techni...|
|Sales Representative|
|Healthcare Repres...|
|  Research Scientist|
|             Manager|
|   Research Director|
|     Human Resources|
+--------------------+

In [37]:
#cast
df.dtypes

[('Age', 'int'),
 ('Attrition', 'string'),
 ('BusinessTravel', 'string'),
 ('DailyRate', 'int'),
 ('Department', 'string'),
 ('DistanceFromHome', 'int'),
 ('Education', 'int'),
 ('EducationField', 'string'),
 ('EmployeeCount', 'int'),
 ('EmployeeNumber', 'int'),
 ('EnvironmentSatisfaction', 'int'),
 ('Gender', 'string'),
 ('HourlyRate', 'int'),
 ('JobInvolvement', 'int'),
 ('JobLevel', 'int'),
 ('JobRole', 'string'),
 ('JobSatisfaction', 'int'),
 ('MaritalStatus', 'string'),
 ('MonthlyIncome', 'int'),
 ('MonthlyRate', 'int'),
 ('NumCompaniesWorked', 'int'),
 ('Over18', 'string'),
 ('OverTime', 'string'),
 ('PercentSalaryHike', 'int'),
 ('PerformanceRating', 'int'),
 ('RelationshipSatisfaction', 'int'),
 ('StandardHours', 'int'),
 ('StockOptionLevel', 'int'),
 ('TotalWorkingYears', 'int'),
 ('TrainingTimesLastYear', 'int'),
 ('WorkLifeBalance', 'int'),
 ('YearsAtCompany', 'int'),
 ('YearsInCurrentRole', 'int'),
 ('YearsSinceLastPromotion', 'int'),
 ('YearsWithCurrManager', 'int')]

In [41]:
df_new=df.select(df.JobSatisfaction.cast("string"))
df_new.show()

+---------------+
|JobSatisfaction|
+---------------+
|              4|
|              2|
|              3|
|              3|
|              2|
|              4|
|              1|
|              3|
|              3|
|              3|
|              2|
|              3|
|              3|
|              4|
|              3|
|              1|
|              2|
|              4|
|              4|
|              4|
+---------------+
only showing top 20 rows

In [43]:
df_new.dtypes

[('JobSatisfaction', 'string')]

In [46]:
#between
df.where(col("age").between(40, 50)).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2|   Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 42|       No|    Travel_Rarely|      691|               Sales|               8|        4|       Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 44|       No|    Travel_Rarely|      477|Research & Develo...|               7|        4|         Medical|            1|            36|                      1|Female|        42|             2|       3|Healthcare Repres...|              4|      Married|        10248|       2094|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|            22|                 6|                      5|                  17|
| 46|       No|    Travel_Rarely|      705|               Sales|               2|        4|       Marketing|            1|            38|                      2|Female|        83|             3|       5|             Manager|              1|       Single|        18947|      22822|                 3|     Y|      No|               12|                3|                       4|           80|               0|               22|                    2|              2|             2|                 2|                      2|                   1|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 43|       No|    Travel_Rarely|     1273|Research & Develo...|               2|        2|         Medical|            1|            46|                      4|Female|        72|             4|       1|  Research Scientist|              3|     Divorced|         2645|      21923|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    3|              2|             5|                 3|                      1|                   4|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|   Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 46|       No|Travel_Frequently|     1211|               Sales|               5|        4|       Marketing|            1|            62|                      1|  Male|        98|             3|       2|     Sales Executive|              4|       Single|         5772|      20445|                 4|     Y|     Yes|               21|                4|                       3|           80|               0|               14|                    4|              3|             9|                 6|                      0|                   8|
| 48|      Yes|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|            1|            64|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Y|     Yes|               13|                3|                       4|           80|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 44|       No|    Travel_Rarely|     1488|               Sales|               1|        5|       Marketing|            1|            68|                      2|Female|        75|             3|       2|     Sales Executive|              1|     Divorced|         5454|       4009|                 5|     Y|     Yes|               21|                4|                       3|           80|               1|                9|                    2|              2|             4|                 3|                      1|                   3|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|   Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 45|       No|    Travel_Rarely|     1339|Research & Develo...|               7|        3|   Life Sciences|            1|            86|                      2|  Male|        59|             3|       3|  Research Scientist|              1|     Divorced|         9724|      18787|                 2|     Y|      No|               17|                3|                       3|           80|               1|               25|                    2|              3|             1|                 0|                      0|                   0|
| 45|       No|    Travel_Rarely|      193|Research & Develo...|               6|        4|           Other|            1|           101|                      4|  Male|        52|             3|       3|   Research Director|              1|      Married|        13245|      15067|                 4|     Y|     Yes|               14|                3|                       2|           80|               0|               17|                    3|              4|             0|                 0|                      0|                   0|
| 46|       No|    Travel_Rarely|      945|     Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|     Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|
| 46|      Yes|    Travel_Rarely|      669|               Sales|               9|        2|         Medical|            1|           118|                      3|  Male|        64|             2|       3|     Sales Executive|              4|       Single|         9619|      13596|                 1|     Y|      No|               16|                3|                       4|           80|               0|                9|                    3|              3|             9|                 8|                      4|                   7|
| 40|       No|Travel_Frequently|      530|Research & Develo...|               1|        4|   Life Sciences|            1|           119|                      3|  Male|        78|             2|       4|Healthcare Repres...|              2|      Married|        13503|      14115|                 1|     Y|      No|               22|                4|                       4|           80|               1|               22|                    3|              2|            22|                 3|                     11|                  11|
| 46|       No|Travel_Frequently|      638|Research & Develo...|               1|        3|         Medical|            1|           124|                      3|  Male|        40|             2|       3|Healthcare Repres...|              1|      Married|        10673|       3142|                 2|     Y|     Yes|               13|                3|                       3|           80|               1|               21|                    5|              2|            10|                 9|                      9|                   5|
| 44|       No|       Non-Travel|      489|Research & Develo...|              23|        3|         Medical|            1|           132|                      2|  Male|        67|             3|       2|Laboratory Techni...|              2|      Married|         2042|      25043|                 4|     Y|      No|               12|                3|                       3|           80|               1|               17|                    3|              4|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows