In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=d83f615567c7dc14732349be9ad473aa64aad2cc104197326f82aceecd38bb48
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark= SparkSession.builder.appName("test").getOrCreate()

In [4]:
lst= ((1,"Rahul"),(2,"Rohith"))
schema=['id','name']

In [5]:
df= spark.createDataFrame(data= lst,schema=schema)

In [6]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1| Rahul|
|  2|Rohith|
+---+------+

In [8]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
schema=('id int, name string')

In [12]:
df=spark.createDataFrame(data= lst, schema=schema)
df.show()

+---+------+
| id|  name|
+---+------+
|  1| Rahul|
|  2|Rohith|
+---+------+

In [13]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)