In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=6b124bc4532c49aa8b77a7235c5d762f6dd0bf3090a7eb9c53e95ed6e49efdf0
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession

In [5]:
spark= SparkSession.builder.appName("test").getOrCreate()

In [6]:
data =[(1,'Maheer','3000'),(2,'Wafa','4000')]
columns= ["id","name",'salary']
df= spark.createDataFrame(data=data,schema= columns)

In [7]:
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  2|  Wafa|  4000|
+---+------+------+

In [8]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [9]:
display(df)

DataFrame[id: bigint, name: string, salary: string]

In [11]:
help(df.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+

In [15]:
from pyspark.sql.functions import *

In [17]:
df1=df.withColumn(colName='salary',col= col('salary').cast("Integer"))

In [18]:
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  2|  Wafa|  4000|
+---+------+------+

In [21]:
df1.dtypes

[('id', 'bigint'), ('name', 'string'), ('salary', 'int')]

In [22]:
df2= df1.withColumn('salary', col("salary")*2)

In [23]:
df2.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  6000|
|  2|  Wafa|  8000|
+---+------+------+

In [24]:
df3=df2.withColumn('country',lit('india'))
df3.show()

+---+------+------+-------+
| id|  name|salary|country|
+---+------+------+-------+
|  1|Maheer|  6000|  india|
|  2|  Wafa|  8000|  india|
+---+------+------+-------+

In [25]:
df4=df3.withColumn('CopiedsSal',col("salary"))
df4.show()

+---+------+------+-------+----------+
| id|  name|salary|country|CopiedsSal|
+---+------+------+-------+----------+
|  1|Maheer|  6000|  india|      6000|
|  2|  Wafa|  8000|  india|      8000|
+---+------+------+-------+----------+

In [26]:
df.columns

['id', 'name', 'salary']

In [27]:
help(df.withColumnRenamed)

Help on method withColumnRenamed in module pyspark.sql.dataframe:

withColumnRenamed(existing: str, new: str) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by renaming an existing column.
    This is a no-op if the schema doesn't contain the given column name.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    existing : str
        string, name of the existing column to rename.
    new : str
        string, new name of the column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with renamed column.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumnRenamed('age', 'age2').show()
    +----+-----+
    |age2| name|
    +----+-----+
    |   2|Alice|
    |   5|  Bob|
    +----+-----+