In [2]:
import pandas as pd

In [12]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df=pd.DataFrame(weather_data)

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow
3  01-04-17           24          7   Snow
4  01-05-17           32          4   Rain
5  01-06-17           31          2  Sunny

In [15]:
df.shape  #rows,columns

(6, 4)

In [16]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [18]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [20]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [23]:
df[:4]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [24]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [25]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [26]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [29]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [30]:
df[['temperature','windspeed']]

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [31]:
df['temperature'].max()

35

In [32]:
df['temperature'].min()

24

In [33]:
df['temperature'].std()

3.8297084310253524

In [34]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [35]:
df[df['temperature']>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [36]:
df[df['temperature']==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
df[df['windspeed']==df['windspeed'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [39]:
df['day'][df['windspeed']==df['windspeed'].max()]

1    1/2/2017
3    1/4/2017
Name: day, dtype: object

In [40]:
df.day[df['windspeed']==df['windspeed'].max()]

1    1/2/2017
3    1/4/2017
Name: day, dtype: object

In [42]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df.set_index('day',inplace=True)#changes index from (0 to 6) to dates

In [49]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [51]:
df.loc["1/5/2017"]

temperature      32
windspeed         4
event          Rain
Name: 1/5/2017, dtype: object

In [52]:
df.reset_index(inplace=True)

In [54]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [55]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny